<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>신비한 서재입니다.</title>

  <link rel="stylesheet" th:href="@{/css/member/point-history.css}">
</head>
<body>
<th:block th:replace="layout/header :: header"></th:block>

<main class="main-container">
  <div class="history-container">
    <div class="history-wrap">
      <div class="history-div">
        <div class="menu-list-container">
          <div class="my-page">
            <a th:href="@{|/admin/book-list/|}">
              <span class="item  ">책 승인 목록</span>
            </a>
          </div>
          <div class="update-form">
            <a th:href="@{|/admin/episode-list/|}">
              <span class="item selected-item">회차 승인 목록</span>
            </a>
          </div>
          <div class="get-point">
            <a th:href="@{|/admin/member-list/|}">
              <span class="item">회원 목록</span>
            </a>
          </div>
          <div class="point-purchase-history">
            <a th:href="@{|/admin/point-history/|}">
              <span class="item">회원 포인트 내역</span>
            </a>
          </div>
          <div class="point-history">
            <a th:href="@{|/admin/req-report-list|}">
              <span class="item">댓글 신고내역</span>
            </a>
          </div>
          <div class="request-author">
            <a th:href="@{|/admin/req-writer-list|}">
              <span class="item">작가 등업 신청 내역</span>
            </a>
          </div>
        </div>
        <div class="history-detail-container">
          <div class="history-title-wrap">
            <h5 class="title">회차 승인 목록</h5>
          </div>
          <div class="history-detail-wrap">
            <div class="history-detail-wrapper">
              <div class="table-wrap">
                <table class="history-table">
                  <tr>
                    <th>책번호</th>
                    <th>제목</th>
                    <th>표지</th>
                    <th>가격 </th>
                    <th>승인</th>
                    <th>거절</th>
                  </tr>

                  <tr th:each="episode:${episodeList}">
                    <div th:if="${episode.writerRole}!=1">
                      <td th:text="${episode.bookId}"></td>
                      <td th:text="${episode.episodeTitle}"></td>
                      <td><img th:src="@{|/upload/${episode.episodeImgName}|}" width="75px" height="75px"></td>
                      <td th:if="${episode.payment eq 1}">100p</td>
                      <td th:if="${episode.payment eq 0 }">무료</td>

                      <td><input type="button" class="accept-btn" th:value="승인" th:onclick="episodeAgree([[${episode.id}]])"></td>
                      <td><input type="button" class="deny-btn" th:value="거절" th:onclick="episodeDelete([[${episode.id}]])"></td>
                    </div>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<th:block th:replace="layout/footer :: footer"></th:block>
</body>
<script th:inline="javascript">
  function episodeAgree(id) {
    location.href="/admin/episode-agree/" + id;
  }
  function episodeDelete(id) {
    location.href="/admin/episode-delete/" + id;
  }
</script>
</html>