<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>신비한 서재입니다.</title>
  <link rel="stylesheet" th:href="@{/css/member/point-history.css}">
</head>
<body>
<th:block th:replace="layout/header :: header"></th:block>
<main class="main-container">
  <div class="history-container">
    <div class="history-wrap">
      <div class="history-div">
        <div class="menu-list-container">
          <div class="my-page">
            <a th:href="@{|/admin/book-list/|}">
              <span class="item  ">책 승인 목록</span>
            </a>
          </div>
          <div class="update-form">
            <a th:href="@{|/admin/episode-list/|}">
              <span class="item ">회차 승인 목록</span>
            </a>
          </div>
          <div class="get-point">
            <a th:href="@{|/admin/member-list/|}">
              <span class="item">회원 목록</span>
            </a>
          </div>
          <div class="point-purchase-history">
            <a th:href="@{|/admin/point-history/|}">
              <span class="item selected-item">회원 포인트 내역</span>
            </a>
          </div>
          <div class="point-history">
            <a th:href="@{|/admin/req-report-list|}">
              <span class="item">댓글 신고내역</span>
            </a>
          </div>
          <div class="request-author">
            <a th:href="@{|/admin/req-writer-list|}">
              <span class="item">작가 등업 신청 내역</span>
            </a>
          </div>
        </div>
        <div class="history-detail-container">
          <div class="history-title-wrap">
            <h5 class="title">회원 포인트 내역</h5>
          </div>
          <div class="history-detail-wrap">
            <div class="history-detail-wrapper">
              <div class="table-wrap">
                <table class="history-table">
                  <tr>
                    <th>포인트 번호</th>
                    <th>회원번호</th>
                    <th>충전시간</th>
                    <th>충전 금액</th>

                  </tr>

                  <tr th:if="${point.plusPoint!=0}" th:each="point:${pointList}">
                    <td th:text="${point.id}"></td>
                    <td th:text="${point.memberId}"></td>
                    <td th:text="*{#temporals.format(point.pointTime, 'yyyy-MM-dd')}"></td>
                    <td><p th:text="${point.plusPoint}" class="plus-Point"></p></td>

                  </tr>
                </table>
              </div>
              <div class="total-amount">
                <div class="title">총 충전 금액</div>
                <div id="plusTotalPoint" class="detail"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>


<script>
  window.onload = () =>{
    let plusPoint = [];
     plusPoint = document.getElementsByClassName("plus-Point");
    const plusTotalPoint = document.getElementById("plusTotalPoint");
    let sum =0;
    for (let i =0; i<plusPoint.length;i++){
      console.log(plusPoint[i]);
    sum += parseInt(plusPoint[i].innerHTML);
    }
    plusTotalPoint.innerHTML =String(sum);

    }

</script>
<th:block th:replace="layout/footer :: footer"></th:block>
</body>
</html>