<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>신비한 서재입니다.</title>

  <link rel="apple-touch-icon" sizes="180x180" th:href="@{/icon/apple-touch-icon.png}">
  <link rel="icon" type="image/png" sizes="32x32" th:href="@{/icon/favicon-32x32.png}">
  <link rel="icon" type="image/png" sizes="16x16" th:href="@{/icon/favicon-16x16.png}">
  <link rel="manifest" th:href="@{/icon/site.webmanifest}">

  <link rel="stylesheet" th:href="@{/css/member/point-history.css}">
</head>
<body>
<th:block th:replace="layout/header :: header"></th:block>

<main class="main-container">
  <div class="history-container">
    <div class="history-wrap">
      <div class="history-div">
        <div class="menu-list-container">
          <div class="my-page">
            <a th:href="@{|/admin/book-list|}">
              <span class="item  ">책 승인 목록</span>
            </a>
          </div>
          <div class="update-form">
            <a th:href="@{|/admin/episode-list|}">
              <span class="item">회차 승인 목록</span>
            </a>
          </div>
          <div class="get-point">
            <a th:href="@{|/admin/member-list|}">
              <span class="item">회원 목록</span>
            </a>
          </div>
          <div class="point-purchase-history">
            <a th:href="@{|/admin/point-history|}">
              <span class="item">회원 포인트 내역</span>
            </a>
          </div>
          <div class="point-history">
            <a th:href="@{|/admin/req-report-list|}">
              <span class="item selected-item">댓글 신고내역</span>
            </a>
          </div>
          <div class="request-author">
            <a th:href="@{|/admin/req-writer-list|}">
              <span class="item">작가 등업 신청 내역</span>
            </a>
          </div>
        </div>
        <div class="history-detail-container">
          <div class="history-list-wrap">
            <div class="history-title-wrap">
              <h5 class="title">작가댓글 신고내역</h5>
            </div>
            <div class="history-detail-wrap">
              <div class="history-detail-wrapper">
                <div class="table-wrap">
                  <table class="history-table">
                    <tr>
                      <th>신고번호</th>
                      <th>회원번호</th>
                      <th>작가댓글 신고번호</th>
                      <th>작가댓글 신고내용</th>
                      <th>승인</th>
                      <th>거절</th>
                    </tr>
                    <tr th:each="writer:${writerList}">
                      <td th:text="${writer.id}"></td>
                      <td th:text="${writer.memberId}"></td>
                      <td th:text="${writer.commentId}"></td>
                      <td th:text="${writer.writerContents}"></td>
                      <td><input type="button" class="accept-btn" th:value="승인" th:onclick="reportTrue([[${writer.id}]])"></td>
                      <td><input type="button" class="deny-btn" th:value="거절" th:onclick="reportFalse([[${writer.id}]])"></td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="history-list-wrap">
            <div class="history-title-wrap">
              <h5 class="title">데뷔댓글 신고내역</h5>
            </div>
            <div class="history-detail-wrap">
              <div class="history-detail-wrapper">
                <div class="table-wrap">
                  <table class="history-table">
                    <tr>
                      <th>신고번호</th>
                      <th>회원번호</th>
                      <th>데뷔댓글 신고번호</th>
                      <th>데뷔댓글 신고내용</th>
                      <th>승인</th>
                      <th>거절</th>
                    </tr>
                    <tr th:each="debut:${debutList}">
                      <td th:text="${debut.id}"></td>
                      <td th:text="${debut.memberId}"></td>
                      <td th:text="${debut.debutCommentId}"></td>
                      <td th:text="${debut.debutContents}"></td>
                      <td><input type="button" class="accept-btn" th:value="승인" th:onclick="debutReportTrue([[${debut.id}]])"></td>
                      <td><input type="button" class="deny-btn" th:value="거절" th:onclick="debutReportFalse([[${debut.id}]])"></td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<th:block th:replace="layout/footer :: footer"></th:block>
</body>
<script th:inline="javascript">
  function debutReportTrue(id) {
    location.href="/admin/debutComment-delete/" + id;
  }
  function debutReportFalse(id) {
    location.href="/admin/debut-reqReport-delete/" + id;
  }
  function reportTrue(id) {
    location.href="/admin/comment-delete/" + id;
  }
  function reportFalse(id) {
    location.href="/admin/book-reqReport-delete/" + id;
  }
</script>
</html>