<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>신비한 서재입니다.</title>
</head>
<body>
<table>
  <tr>
    <td>회원번호</td>
    <td>작가이름</td>
    <td>소개글</td>
    <td>승인</td>
    <td>거절</td>
  </tr>

  <tr th:each="member:${memberList}">
      <td th:text="${member.id}"></td>
      <td th:text="${member.memberName}"></td>
      <td th:text="${member.introduction}"></td>
      <td><input type="button" th:value="승인" th:onclick="reqWriterAgree([[${member.id}]])"></td>
      <td><input type="button" th:value="거절" th:onclick="reqWriterDelete([[${member.id}]])"></td>
  </tr>
</table>
<script>
    function reqWriterAgree(id){
        location.href="/admin/req-writer-agree/"+id;
    }
    function reqWriterDelete(id){
        location.href="/admin/req-writer-delete/"+id;
    }
</script>
</body>
</html>