<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<th:block th:fragment="header">
  <meta name="_csrf_header" th:content="${_csrf.headerName}">
  <meta name="_csrf" th:content="${_csrf.token}">

  <link rel="stylesheet" th:href="@{/css/layout/header.css}">
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{/css/sweetalert2.min.css}">
  <script th:src="@{/js/header.js}"></script>
  <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
  <script th:src="@{/js/jquery.js}"></script>
  <script th:src="@{/js/sweetalert2.min.js}"></script>

<div class="header-div">
  <header class="header-header">
    <nav class="header-nav">
      <div class="logo-container">
        <a class="logo-a" href="/">
          <div class="logo-wrap">
            <img th:src="@{/img/mystical_logo.jpg}" alt="">
          </div>
<!--          <div class="logo2-wrap">-->
<!--            <img th:src="@{/img/logo2.svg}" alt="">-->
<!--          </div>-->
        </a>
      </div>

      <form action="/book/search" method="get" class="search-form">
        <div tabindex="-1" class="search-container">
          <label class="search-wrap">
            <svg width="1em" height="1em" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="search-icon">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M16.026 9.862a6.163 6.163 0 11-12.327 0 6.163 6.163 0 0112.327 0zm-1.183 5.824a7.663 7.663 0 111-1.031c.066.035.13.08.186.137l5.4 5.4a.75.75 0 01-1.06 1.06l-5.4-5.4a.746.746 0 01-.126-.166z" fill="currentColor"></path>
            </svg>
            <select name="searchType" class="search-input-select">
              <option value="작가">작가</option>
              <option value="책">책</option>
            </select>
            <input type="text" maxlength="64" name="q" class="search-input">
          </label>
        </div>
      </form>

      <div class="menu-icon-container" sec:authorize="isAuthenticated()">
        <div class="menu-icon-wrap">
          <a th:href="@{|/notice/history/${authentication.id}|}" class="notification">
            <svg width="1em" height="1em" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="icon-notification">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M5.55 10.02A6.445 6.445 0 0112 3.57a6.445 6.445 0 016.45 6.45v6.851H5.55v-6.85zm-1.5 6.851v-6.85A7.945 7.945 0 0112 2.07a7.945 7.945 0 017.95 7.95v6.85h.452a.75.75 0 010 1.5h-16.8a.75.75 0 010-1.5h.449zm5.5 4.328a.75.75 0 01.75-.75h3.4a.75.75 0 010 1.5h-3.4a.75.75 0 01-.75-.75z" fill="currentColor"></path>
            </svg>
          </a>
        </div>
        <div class="menu-icon-wrap">
          <a th:href="@{|/wish/wishlist/author/${authentication.id}|}" class="wishlist">
            <img th:src="@{/img/icon_heart_box.png}" class="icon-wishlist" style="width: 1.8rem; height: 1.8rem;">
          </a>
        </div>
        <div class="menu-icon-wrap">
          <a th:href="@{|/history/${authentication.id}|}" class="box">
            <svg width="1em" height="1em" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg" class="icon-box">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M3.207 4.083c0-.483.392-.875.875-.875h5.833c.484 0 .875.392.875.875v19.834a.875.875 0 01-.875.875H4.082a.875.875 0 01-.875-.875V4.083zm1.75.875v18.084H9.04V4.958H4.957z" fill="currentColor"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M9.04 4.083c0-.483.39-.875.874-.875h5.833c.484 0 .875.392.875.875v19.834a.875.875 0 01-.875.875H9.914a.875.875 0 01-.875-.875V4.083zm1.75.875v18.084h4.082V4.958H10.79z" fill="currentColor"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M15.195 7.343a.875.875 0 01.619-1.071l5.634-1.51a.875.875 0 011.072.619l4.53 16.903a.875.875 0 01-.62 1.072l-5.634 1.51a.875.875 0 01-1.072-.62L15.195 7.344zm1.917.392L21.19 22.95l3.944-1.057-4.077-15.213-3.944 1.056z" fill="currentColor"></path>
            </svg>
          </a>
        </div>
        <div class="menu-icon-wrap">
          <a th:href="@{|/member/myPage/${authentication.id}|}" class="my-page">
            <svg width="1em" height="1em" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="icon-my-page">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M12 8.389A2.194 2.194 0 1012 4a2.194 2.194 0 000 4.389zm0 1.5a3.694 3.694 0 100-7.39 3.694 3.694 0 000 7.39zM12.384 12.973h-.768A7.617 7.617 0 004.022 20h15.956a7.617 7.617 0 00-7.594-7.027zm-.768-1.5A9.116 9.116 0 002.5 20.589c0 .503.408.911.912.911h17.176a.912.912 0 00.912-.911 9.116 9.116 0 00-9.116-9.116h-.768z" fill="currentColor"></path>
            </svg>
          </a>
        </div>
        <div class="menu-icon-wrap">
          <a href="/member/logout" class="log-out">
            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" class="bi bi-box-arrow-right icon-log-out" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
              <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
            </svg>
          </a>
        </div>
      </div>

      <div class="menu-container" sec:authorize="isAnonymous()">
        <div class="menu-wrap-div">
          <ul class="menu-wrap-ul">
            <li class="sign-up-wrap">
              <a href="javascript:;" class="sign-up" data-bs-toggle="modal" data-bs-target="#exampleModal2">회원가입</a>
            </li>
            <li class="sign-in-wrap">
              <a href="javascript:;" class="sign-in" data-bs-toggle="modal" data-bs-target="#exampleModal1">로그인</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
</div>

  <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel1" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <div class="sign-in-wrap">
            <h5 class="modal-title sign-in-h5" id="exampleModalLabel1">로그인</h5>
          </div>
        </div>
        <div class="modal-body">
          <form class="login-form" action="/member/login" method="post">
            <input type="hidden" th:name="_csrf" th:value="${_csrf.token}"/>
            <div class="input-wrap">
              <div class="label-id-wrap">
                <label class="label-id">아이디</label>
              </div>
              <div class="input-id-wrap">
                <input type="text" name="loginId" class="input-id" placeholder="아이디123">
              </div>
              <div class="result-id-wrap" style="display: none;">
                <span class="span-id" id="result-id-login"></span>
              </div>
            </div>
            <div class="input-wrap">
              <div class="label-pw-wrap">
                <label class="label-pw">비밀번호</label>
              </div>
              <div class="input-pw-wrap">
                <input type="password" name="memberPassword" class="input-pw" placeholder="********">
              </div>
              <div class="result-pw-wrap" style="display: none;">
                <span class="span-pw" id="result-pw-login"></span>
              </div>
            </div>
            <div class="find-wrap">
              <div class="find-id-wrap">
                <span class="label-find-id" id="find-id">아이디 찾기</span>
              </div>
              <div class="find-pw-wrap">
                <span class="label-find-pw" id="find-pw">비밀번호 찾기</span>
              </div>
            </div>
            <div class="sign-in-btn-wrap">
              <div class="btn-wrap">
                <button type="submit" class="submit-btn">아이디로 로그인</button>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <div class="social-login-wrap">
            <div class="naver-login-wrap">
              <button type="button" class="naver" onclick="naverLogin()">
                <img th:src="@{/img/naver.png}" class="naver-img" alt="">
                <span class="naver-content">네이버 아이디로 로그인</span>
              </button>
            </div>
            <div class="google-login-wrap">
              <button type="button" class="google" onclick="googleLogin()">
                <img th:src="@{/img/google.png}" class="google-img" alt="">
                <span class="google-content">구글 아이디로 로그인</span>
              </button>
            </div>
            <div class="facebook-login-wrap">
              <button type="button" class="facebook" onclick="facebookLogin()">
                <img th:src="@{/img/facebook.png}" class="facebook-img" alt="">
                <span class="facebook-content">페이스북 아이디로 로그인</span>
              </button>
            </div>
            <div class="kakao-login-wrap">
              <button type="button" class="kakao" onclick="kakaoLogin()">
                <img th:src="@{/img/kakao.png}" class="kakao-img" alt="">
                <span class="kakao-content">카카오 아이디로 로그인</span>
              </button>
            </div>
            <div class="github-login-wrap">
              <button type="button" class="github" onclick="githubLogin()">
              <img th:src="@{/img/github.png}" class="github-img" alt="">
              <span class="github-content">깃허브 아이디로 로그인</span>
            </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <div class="sign-up-wrap">
            <h5 class="modal-title sign-up-h5" id="exampleModalLabel2">회원가입</h5>
          </div>
        </div>
        <div class="modal-body">
          <div class="hide-body">
            <div class="register-terms-wrap">
              <div class="title">이용약관</div>
              <div class="terms">
                정보통신망 이용촉진 등에 관한 법률 등 관련 법률에 의한 개인정보 보호규정 및 정보통신부가 제정한 개인정보지침을 준수하고 있습니다. <br /><br />

                1. 개인정보의 수집 항목<br />
                원활한 서비스 이용과 고객과의 소통을 위해 수집합니다.<br />
                ∙ 필수항목: 아이디, 비밀번호, 이메일, 닉네임<br />
                ∙ 선택 가능한 수집항목: 페이스북 ID, 이름, 이메일, 친구 목록, 연락처<br />
                ∙ 자동수집항목: IP Address, 접속 기록, 쿠키 등<br /><br />

                2. 개인정보의 수집 방법<br />
                회원 가입 시에 필수항목 기재를 요청합니다.<br /><br />

                3. 개인정보의 수집 이용 목적<br />
                ∙ 아이디, 비밀번호, 이메일, 닉네임, 페이스북 ID, 이름, 이메일 : 회원 가입시에 사용자확인, 중복가입 방지, 부정 이용 방지를 위한 목적으로 사용합니다.<br />
                ∙ 페이스북 친구 목록 : 영상 추천, 사용자 행동/선호도 분석에 사용합니다.<br />
                ∙ 연락처 : 이벤트 소식 및 이벤트 당첨자 연락에 사용합니다.<br />
                ∙ 이용자의 IP Address, 접속 기록 등: 불량회원의 부정 이용방지와 비인가 사용방지, 통계학적 분석에 사용합니다.<br /><br />

                4. 개인정보 공유 및 제공<br />
                회원의 동의가 있거나 법률의 규정 또는 수사목적으로 법령에 정해진 절차와 방법에 따른 수사기관의 요구에 의한 경우를 제외하고, 어떠한 경우에도 본 방침을 넘어 이용자의 개인정보를 이용하거나 외부에 공개하지 않습니다.<br /><br />

                5. 개인정보의 위탁<br />
                회원의 동의 없이 개인정보를 외부에 위탁하지 않습니다.<br /><br />

                6. 개인정보의 보유 및 이용기간<br />
                -가입 회원정보는 탈퇴할 시 5년간 보관 후 파기됩니다.<br />
                -단 게시물에서의 개인정보(닉네임 등)는 사이트 폐쇄 시까지 보관합니다.<br /><br />

                7. 개인정보의 파기절차 및 방법<br />
                ∙ 파기절차: 가입 회원정보는 탈퇴 후 5년간 보관한 후, 어떠한 용도로도 열람 또는 이용할 수 없도록 파기 처리합니다.<br />
                ∙ 파기 방법: 기록을 재생할 수 없는 기술적 방법을 사용하여 삭제합니다.<br />
                ∙ 페이스북 연동 계정 삭제 정책: 페이스북 계정으로 연동된 계정의 삭제를 원하실 경우, "마이페이지" --&gt; "회원탈퇴" 로 삭제가 가능합니다. <br />
                페이스북 계정으로 회원가입 시, 페이스북 계정을 탈퇴 또는 정지 할 경우 연동된 신비한서재 계정 역시 탈퇴 또는 정지됩니다. 신비한서재 계정 정보가 모두 삭제되오니 주의해
                주십시오.<br />
                *계정의 인수인계를 원하시는 경우 pysoya@naver.com 으로 계정 인수인계 의뢰를 부탁 드립니다.<br /><br />

                8. 이용자 및 법정대리인의 권리와 그 행사방법<br />
                이용자 및 법정 대리인은 언제든지 등록되어 있는 자신 혹은 당해 만 14세 미만 아동의 개인정보를 조회하거나 수정할 수 있으며 가입해지를 요청할 수도 있습니다.<br /><br />

                9. 쿠키(Cookie)의 설치, 운영 및 거부<br />
                *쿠키: 웹 사이트를 운영하는데 이용되는 서버가 사용자의 브라우저에 보내는 정보 파일로 사용자의 컴퓨터 하드디스크에 저장되기도 합니다.<br />
                ∙ 쿠키 등의 사용 목적: 사이트 로그인을 위한 아이디 식별 및 사이트 설정 기능이 담겨져 있어서 최적화된 정보 제공을 위해 사용합니다.<br />
                ∙ 쿠키 설정 거부 방법: (IE의 경우) 웹 브라우저 상단의 도구&gt;인터넷 옵션&gt; 사이트별 개인정보에서 거부할 수 있습니다.<br /><br />

                10. 개인정보의 기술적/관리적 보호 대책<br />
                이용자들의 개인정보를 취급함에 있어 개인정보가 분실, 도난, 누출, 변조 또는 훼손되지 않도록 안전성 확보를 위하여 다음과 같은 기술적/관리적 대책을 강구하고 있습니다.<br />
                ∙ 비밀번호 암호화<br />
                회원 아이디(ID)의 비밀번호는 암호화되어 저장 및 관리되고 있어 본인만이 알고 있으며, 개인정보의 확인 및 변경도 비밀번호를 알고 있는 본인에 의해서만 가능합니다.<br />
                ∙ 해킹 등에 대비한 대책<br />
                해킹이나 컴퓨터 바이러스 등에 의해 회원의 개인정보가 유출되거나 훼손되는 것을 막기 위해 최선을 다하고 있습니다.<br /><br />

                11. 개인정보 관리 책임자<br />
                - 성명 : 박윤석<br />
                - 직책 : 운영자<br />
                - 전화번호 : 010-0000-0000<br /><br />

                12. 개인정보에 대한 민원처리<br />
                개인정보 침해에 대한 신고나 상담이 필요하신 경우에는 아래 기관에 문의하시기 바랍니다.<br />
                - 개인정보침해신고센터 (http://www.privacy.kisa.or.kr / 국번없이 118)<br />
                - 대검찰청 사이버범죄수사단 (www.spo.go.kr / 02-3480-3571)<br />
                - 경찰청 사이버테러대응센터 (www.ctrc.go.kr / 국번없이 182)<br /><br />

                13. 고지의 의무<br />
                이 개인정보 취급방침이 법령, 정책 또는 보안기술의 변경에 따라 내용이 추가, 삭제 및 수정될 경우에는 변경사항의 시행일의 7일전부터 사이트에 공고할 것입니다.<br />
                ∙ 공고일자: 2022년 7월 20일<br />
                ∙ 시행일자: 2022년 7월 20일<br />
              </div>
              <div class="agreement" onclick="checkClick()">
                <input type="checkbox" class="isChecked">
                <span class="check-desc">개인정보보호정책과 이용약관에 동의합니다.</span>
              </div>
            </div>
            <div class="sign-in-btn-wrap">
              <div class="btn-wrap">
                <button type="button" class="submit-btn" onclick="requestSignUp()">아이디로 회원가입</button>
              </div>
            </div>
          </div>
          <form class="register-form" action="/member/save" method="post" enctype="multipart/form-data" name="memberSaveForm" style="display: none;" aria-hidden="true">
            <input type="hidden" th:name="_csrf" th:value="${_csrf.token}"/>
            <div class="input-wrap">
              <div class="label-id-wrap">
                <label class="label-id">아이디</label>
              </div>
              <div class="input-id-wrap">
                <input type="text" id="login-id" name="loginId" class="input-id" placeholder="5-16자의 영소문자, 숫자" onblur="idCheck()">
              </div>
              <div class="result-id-wrap">
                <span class="span-id" id="result-id"></span>
              </div>
            </div>
            <div class="input-wrap">
              <div class="label-pw-wrap">
                <label class="label-pw">비밀번호</label>
              </div>
              <div class="input-pw-wrap">
                <input type="password" id="input-pw" name="memberPassword" class="input-pw" placeholder="********" onblur="pwCheck()">
              </div>
              <div class="result-pw-wrap">
                <span class="span-pw" id="result-pw"></span>
              </div>
            </div>
            <div class="input-wrap">
              <div class="label-pw-again-wrap">
                <label class="label-pw-again">비밀번호 재확인</label>
              </div>
              <div class="input-pw-again-wrap">
                <input type="password" id="input-pw2" class="input-pw-again" placeholder="********" onblur="pwCheck2()">
              </div>
              <div class="result-pw-again-wrap">
                <span class="span-pw-again" id="result-pw-again"></span>
              </div>
            </div>
            <div class="input-wrap">
              <div class="label-name-wrap">
                <label class="label-name">닉네임 (작가명)</label>
              </div>
              <div class="input-name-wrap">
                <input type="text" id="member-name" name="memberName" class="input-name" placeholder="신비한서재" onblur="memberNameCheck()">
              </div>
              <div class="result-name-wrap">
                <span class="span-name" id="result-name"></span>
              </div>
            </div>
            <div class="input-wrap">
              <div class="label-email-wrap">
                <label class="label-email">이메일</label>
              </div>
              <div class="input-email-wrap">
                <input type="text" name="memberEmail" class="input-email" id="input-email" placeholder="example@example.com" required>
                <button type="button" class="request-auth" onclick="emailAuthentication()">인증번호 받기</button>
              </div>
              <div class="result-email-wrap">
                <span class="span-email" id="result-email"></span>
              </div>
            </div>
            <div class="input-wrap">
              <div class="label-auth-wrap">
              </div>
              <div class="input-auth-wrap">
                <input type="text" class="input-auth" id="input-auth" placeholder="인증번호 입력" required>
                <button type="button" class="check-auth" onclick="emailNumberCheck()">인증하기</button>
              </div>
              <div class="result-auth-wrap">
                <span class="span-auth" id="result-auth"> </span>
              </div>
            </div>
            <div class="input-wrap last-input-wrap">
              <div class="label-image-wrap">
                <label class="label-image">프로필 사진</label>
              </div>
              <div class="input-image-wrap">
                <input type="file" name="memberImg" class="input-image">
              </div>
              <div class="result-image-wrap">
              </div>
            </div>
            <div class="sign-in-btn-wrap">
              <div class="btn-wrap">
                <button type="button" class="submit-btn" onclick="goMemberSave()">회원가입</button>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer hide-footer">
          <div class="social-login-wrap">
            <div class="naver-login-wrap">
              <button type="button" class="naver" onclick="requestSignUp('naver')">
                <img th:src="@{/img/naver.png}" class="naver-img" alt="">
                <span class="naver-content">네이버 아이디로 회원가입</span>
              </button>
            </div>
            <div class="google-login-wrap">
              <button type="button" class="google" onclick="requestSignUp('google')">
                <img th:src="@{/img/google.png}" class="google-img" alt="">
                <span class="google-content">구글 아이디로 회원가입</span>
              </button>
            </div>
            <div class="facebook-login-wrap">
              <button type="button" class="facebook" onclick="requestSignUp('facebook')">
                <img th:src="@{/img/facebook.png}" class="facebook-img" alt="">
                <span class="facebook-content">페이스북 아이디로 회원가입</span>
              </button>
            </div>
            <div class="kakao-login-wrap">
              <button type="button" class="kakao" onclick="requestSignUp('kakao')">
                <img th:src="@{/img/kakao.png}" class="kakao-img" alt="">
                <span class="kakao-content">카카오 아이디로 회원가입</span>
              </button>
            </div>
            <div class="github-login-wrap">
              <button type="button" class="github" onclick="requestSignUp('github')">
                <img th:src="@{/img/github.png}" class="github-img" alt="">
                <span class="github-content">깃허브 아이디로 회원가입</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    $(document).ready(function () {
      $('#exampleModal2').on('hidden.bs.modal', function () {
        const checkbox = document.querySelector('.isChecked');
        const beforeHTML = document.querySelector('.hide-body');
        const beforeFooter = document.querySelector('.hide-footer');
        const afterHTML = document.querySelector('.register-form');

        checkbox.removeAttribute('checked');

        beforeHTML.style.display = 'block';
        beforeHTML.setAttribute('aria-hidden', 'false');
        beforeFooter.style.display = 'flex';
        beforeFooter.setAttribute('aria-hidden', 'false');
        afterHTML.style.display = 'none';
        afterHTML.setAttribute('aria-hidden', 'true');

        $('form').each(function () {
          this.reset();
        });
      });

      $('#exampleModal1').on('hidden.bs.modal', function () {
        $('form').each(function () {
          this.reset();
        });
      });

      $('#exampleModal1').on('shown.bs.modal', function () {
        const input = document.querySelector('.input-id');
        input.focus();
      });

      const findId = document.getElementById('find-id');
      const findPw = document.getElementById('find-pw');

      findId.addEventListener('click', () => {
          location.href = '/member/find/id';
      });
      findPw.addEventListener('click', () => {
          location.href = '/member/find/password';
      });
    });

    const naverLogin = () => {
      location.href = "/oauth2/authorization/naver";
    }

    const facebookLogin = () => {
      location.href = "/oauth2/authorization/facebook";
    }

    const googleLogin = () => {
      location.href = "/oauth2/authorization/google";
    }

    const kakaoLogin = () => {
      location.href = "/oauth2/authorization/kakao";
    }

    const githubLogin = () => {
      location.href = "/oauth2/authorization/github";
    }

    let loginIdCheck = true;
    let passwordCheck = true;
    let passwordCheck2 = true;
    let nameCheck = true;
    let emailCheck = true;

    const idCheck = () => {
      let header = $("meta[name='_csrf_header']").attr('content');
      let token = $("meta[name='_csrf']").attr('content');

      const resultLoginId= document.getElementById("result-id");
      const loginId = document.getElementById("login-id").value;
      const exp = /^(?=.*[a-z])[a-z\d]{5,16}$/;

      if (loginId.length != 0) {
        if(loginId.match(exp)){
          $.ajax({
            type: "post",
            url: "/member/login-id-dup-check",
            data: {"loginId": loginId},
            dataType: "text",
            beforeSend: function(xhr){
              xhr.setRequestHeader(header, token);
            },
            success: function (result) {
              if (result == "ok") {
                resultLoginId.innerHTML = '사용가능한 아이디입니다.';
                resultLoginId.style.color = 'dodgerBlue';
                loginIdCheck = true;
              } else {
                resultLoginId.innerHTML = '이미 사용중인 아이디입니다.';
                resultLoginId.style.color = '#dd2424';
                loginIdCheck = true;
              }
            }
          });
        } else {
          resultLoginId.innerHTML = '5~16자의 영문 소문자, 숫자만 사용 가능합니다.';
          resultLoginId.style.color = '#dd2424';
          loginIdCheck = true;
        }
      } else {
        resultLoginId.innerHTML = '필수 입력 항목입니다.';
        resultLoginId.style.color = '#dd2424';
        loginIdCheck = true;
      }
    }

    const pwCheck = () => {
      const resultPw = document.getElementById("result-pw");
      const inputPw = document.getElementById("input-pw").value;
      const exp = /^(?=.*[a-z])(?=.*\d)[a-z\d`~!@#$%^&*()-+_=]{8,16}$/;

      if(inputPw.match(exp)) {
        resultPw.innerHTML = '';
        passwordCheck = true;
      } else {
        resultPw.innerHTML = "8~16자의 영문 소문자(필수), 숫자(필수), 특수기호만 사용 가능합니다.";
        passwordCheck = true;
      }
    }

    const pwCheck2 = () => {
      const resultPwAgain = document.getElementById("result-pw-again");
      const inputPw = document.getElementById("input-pw").value;
      const inputPw2 = document.getElementById("input-pw2").value;

      if (inputPw.length != 0) {
        if (inputPw == inputPw2) {
          passwordCheck2 = true;
          resultPwAgain.innerHTML = '비밀번호가 일치합니다.';
          resultPwAgain.style.color = 'dodgerBlue';
        } else {
          passwordCheck2 = true;
          resultPwAgain.innerHTML = '비밀번호가 일치하지 않습니다.';
          resultPwAgain.style.color = '#dd2424';
        }
      }
    }

    const memberNameCheck = () => {
      let header = $("meta[name='_csrf_header']").attr('content');
      let token = $("meta[name='_csrf']").attr('content');

      const resultName = document.getElementById("result-name");
      const memberName = document.getElementById("member-name").value;

      if (memberName.length != 0) {
        $.ajax({
          type: "post",
          url: "/member/name-dup-check",
          data: {"memberName": memberName},
          dataType: "text",
          beforeSend: function(xhr){
            xhr.setRequestHeader(header, token);
          },
          success: function (result) {
            if (result == "ok") {
              nameCheck = true;
              resultName.innerHTML = '사용가능한 닉네임입니다.';
              resultName.style.color = 'dodgerBlue';
            } else {
              nameCheck = true;
              resultName.innerHTML = '이미 사용중인 닉네임입니다.';
              resultName.style.color = '#dd2424';
            }
          }
        });
      } else {
        nameCheck = true;
        resultName.innerHTML = '닉네임을 입력해주세요.';
        resultName.style.color = '#dd2424';
      }
    }

    const emailAuthentication = () => {
      let header = $("meta[name='_csrf_header']").attr('content');
      let token = $("meta[name='_csrf']").attr('content');

      const resultEmail = document.getElementById("result-email");
      const memberEmail = document.getElementById("input-email").value;
      const exp = /^(?=.*[a-z])(?=.*@)(?=.*\.)[a-z\d@\.]{5,30}$/;


        if (memberEmail.length != 0 && memberEmail.match(exp)) {
          $.ajax({
            type: "post",
            url: "/member/email-authentication",
            data: {"memberEmail": memberEmail},
            dataType: "text",
            beforeSend: function(result){
              result.setRequestHeader(header, token);
            },
            success: function (result) {
              code = result;
              Swal.fire("메일 전송이 완료되었습니다.\n확인 후 인증번호를 입력해주세요.");
              resultEmail.innerHTML = '';
            }
          });
      } else {
        resultEmail.innerHTML = '이메일을 다시 확인해주세요.';
        resultEmail.style.color = '#dd2424';
      }
    }

    const emailNumberCheck = () => {
      const resultAuth = document.getElementById("result-auth");
      const inputNumber = document.getElementById("input-auth").value;
      if (inputNumber == code) {
          emailCheck = true;
        resultAuth.innerHTML = "인증번호가 일치합니다.";
        resultAuth.style.color = "dodgerblue";
      } else {
          emailCheck = true;
        resultAuth.innerHTML = "인증번호를 다시 확인해주세요.";
        resultAuth.style.color = '#dd2424';
      }
    }

    const goMemberSave = () => {
      const afterHTML = document.querySelector('.register-form');

      if (loginIdCheck == true && passwordCheck == true && passwordCheck2 == true && nameCheck == true && emailCheck == true) {
        Swal.fire('회원가입이 완료되었습니다.')
          .then((result) => {
            if (result.isConfirmed) {
              memberSaveForm.submit();
              afterHTML.setAttribute('aria-hidden', 'true');
            }
          });
      } else {
        Swal.fire({
          icon: 'error',
          text: '정확한 정보를 입력해주세요.',
          showConfirmButton: true,
        });
      }
    }
  </script>
</th:block>
</html>