<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>신비한 서재입니다.</title>

  <link rel="stylesheet" th:href="@{/css/book/category.css}">
  <link rel="stylesheet" th:href="@{/css/index.css}">
</head>
<body>
<th:block th:replace="layout/header :: header"></th:block>

<div class="category-div">
  <div class="category-container">
    <ul class="category-ul dropdown">
      <li class="category-wrap">
        <a href="/" class="category">홈</a>
      </li>
      <li class="category-wrap">
        <a href="javascript:;" class="category category-focus dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">웹소설</a>
        <ul class="dropdown-menu">
          <li><a th:href="@{/book/category?categoryId=1}" class="dropdown-item">웹소설 메인</a></li>
          <li><a th:href="@{|/book/genre?genreId=1&alignmentId=0|}" class="dropdown-item">판타지</a></li>
          <li><a th:href="@{|/book/genre?genreId=2&alignmentId=0|}" class="dropdown-item">현대판타지</a></li>
          <li><a th:href="@{|/book/genre?genreId=3&alignmentId=0|}" class="dropdown-item">로맨스</a></li>
          <li><a th:href="@{|/book/genre?genreId=4&alignmentId=0|}" class="dropdown-item">로맨스판타지</a></li>
          <li><a th:href="@{|/book/genre?genreId=5&alignmentId=0|}" class="dropdown-item">무협</a></li>
        </ul>
      </li>
      <li class="category-wrap">
        <a href="javascript:;" class="category dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">시</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" th:href="@{|/book/genre?genreId=6&alignmentId=0|}">시 메인</a></li>
        </ul>
      </li>
      <li class="category-wrap">
        <a href="javascript:;" class="category dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">에세이</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" th:href="@{|/book/genre?genreId=7&alignmentId=0|}">에세이 메인</a></li>
        </ul>
      </li>
      <li class="category-wrap">
        <a href="javascript:;" class="category dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">데뷔글</a>
        <ul class="dropdown-menu">
          <li><a th:href="@{/debut/main/0}" class="dropdown-item">데뷔글 메인</a></li>
          <li><a th:href="@{/debut/web/3/0}" class="dropdown-item">웹소설</a></li>
          <li><a th:href="@{/debut/poem/1/0}" class="dropdown-item">시</a></li>
          <li><a th:href="@{/debut/essay/2/0}" class="dropdown-item">에세이</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>

<main class="main-container">
  <div class="slider-div">
    <div class="slider-container">
      <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img th:src="@{/img/slider_img_3.jpg}" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img th:src="@{/img/slider_img_5.jpg}" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img th:src="@{/img/slider_img_2.jpg}" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden"></span>
        </button>
        <button class="carousel-control-next" id="move-slider" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden"></span>
        </button>
      </div>
    </div>
  </div>
  <div class="recent-debut-post-container">
    <div class="recent-debut-post-title-container">
      <div class="recent-debut-post-title-wrap">
        <div class="recent-debut-post-title-text" style="display: flex;">
          <span class="recent-debut-post-title">판타지 TOP</span>
          <button type="button" onclick="bookSaveForm()" class="save-form-btn" sec:authorize="isAuthenticated()" th:if="${authentication.role != 'ROLE_USER'}">글쓰기</button>
        </div>
      </div>
    </div>
    <div class="recent-debut-post-list-container">
      <div class="recent-debut-post-list-wrap">
        <div class="recent-debut-post-div">
          <ul class="recent-debut-post-ul">
            <li class="recent-debut-post-li" th:each="book:${bookList1}">
              <div class="recent-debut-post">
                <div class="img-wrap">
                  <a th:href="@{|/book/book?id=${book.id}&alignmentId=0|}">
                    <img th:src="@{|/upload/${book.bookImgName}|}" class="img" alt="">
                  </a>
                </div>
                <div class="detail-wrap">
                  <span class="title" th:text="${book.bookTitle}"></span>
                  <a th:href="@{|/member/myPage/${book.memberId}|}" class="author" style="cursor: pointer;">
                    <span class="author" th:text="${book.memberName}"></span>
                  </a>
                  <div class="star-wrap">
                    <svg width="1.2em" height="1.2em" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg" aria-label="구매자 평균 별점" class="star-symbol">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M5.5 0l1.812 3.303L11 4.025 8.446 6.759l.459 3.741L5.5 8.903 2.095 10.5l.459-3.74L0 4.002l3.688-.7L5.5 0z" fill="currentColor"></path>
                    </svg>
                    <span class="star" th:text="${book.star}"></span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="1.2rem" height="1.2rem" fill="currentColor" class="bi bi-eye eye-icon" viewBox="0 0 16 16">
                      <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
                      <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
                    </svg>
                    <span class="hits" th:text="${book.hits}"></span>
                    <div class="tag-wrap">
                      <span class="tag novel" th:if="${book.categoryId eq 1}">웹소설</span>
                      <span class="tag poem" th:if="${book.categoryId eq 2}">시</span>
                      <span class="tag essay" th:if="${book.categoryId eq 3}">에세이</span>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="recent-debut-post-container">
    <div class="recent-debut-post-title-container">
      <div class="recent-debut-post-title-wrap">
        <div class="recent-debut-post-title-text" style="display: flex;">
          <span class="recent-debut-post-title">현대 판타지 TOP</span>
        </div>
      </div>
    </div>
    <div class="recent-debut-post-list-container">
      <div class="recent-debut-post-list-wrap">
        <div class="recent-debut-post-div">
          <ul class="recent-debut-post-ul">
            <li class="recent-debut-post-li" th:each="book:${bookList2}">
              <div class="recent-debut-post">
                <div class="img-wrap">
                  <a th:href="@{|/book/book?id=${book.id}&alignmentId=0|}">
                    <img th:src="@{|/upload/${book.bookImgName}|}" class="img" alt="">
                  </a>
                </div>
                <div class="detail-wrap">
                  <span class="title" th:text="${book.bookTitle}"></span>
                  <a th:href="@{|/member/myPage/${book.memberId}|}" class="author" style="cursor: pointer;">
                    <span class="author" th:text="${book.memberName}"></span>
                  </a>
                  <div class="star-wrap">
                    <svg width="1.2em" height="1.2em" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg" aria-label="구매자 평균 별점" class="star-symbol">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M5.5 0l1.812 3.303L11 4.025 8.446 6.759l.459 3.741L5.5 8.903 2.095 10.5l.459-3.74L0 4.002l3.688-.7L5.5 0z" fill="currentColor"></path>
                    </svg>
                    <span class="star" th:text="${book.star}"></span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="1.2rem" height="1.2rem" fill="currentColor" class="bi bi-eye eye-icon" viewBox="0 0 16 16">
                      <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
                      <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
                    </svg>
                    <span class="hits" th:text="${book.hits}"></span>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="recent-completion-container">
    <div class="recent-completion-title-container">
      <div class="recent-completion-title-wrap">
        <div class="recent-completion-title-text">
          <span class="recent-completion-title">로맨스 TOP</span>
        </div>
      </div>
    </div>
    <div class="recent-completion-list-container">
      <div class="recent-completion-list-wrap">
        <div class="recent-completion-div">
          <ul class="recent-completion-ul">
            <li class="recent-completion-li" th:each="book:${bookList3}">
              <div class="recent-completion">
                <div class="img-wrap">
                  <a th:href="@{|/book/book?id=${book.id}&alignmentId=0|}">
                    <img th:src="@{|/upload/${book.bookImgName}|}" class="img" alt="">
                  </a>
                </div>
                <div class="detail-wrap">
                  <span class="title" th:text="${book.bookTitle}"></span>
                  <span class="author" th:text="${book.memberName}"></span>
                  <div class="star-wrap">
                    <svg width="1.2em" height="1.2em" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg" aria-label="구매자 평균 별점" class="star-symbol">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M5.5 0l1.812 3.303L11 4.025 8.446 6.759l.459 3.741L5.5 8.903 2.095 10.5l.459-3.74L0 4.002l3.688-.7L5.5 0z" fill="currentColor"></path>
                    </svg>
                    <span class="star" th:text="${book.star}"></span>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="recent-completion-container">
    <div class="recent-completion-title-container">
      <div class="recent-completion-title-wrap">
        <div class="recent-completion-title-text">
          <span class="recent-completion-title">로맨스판타지 TOP</span>
        </div>
      </div>
    </div>
    <div class="recent-completion-list-container">
      <div class="recent-completion-list-wrap">
        <div class="recent-completion-div">
          <ul class="recent-completion-ul">
            <li class="recent-completion-li" th:each="book:${bookList4}">
              <div class="recent-completion">
                <div class="img-wrap">
                  <a th:href="@{|/book/book?id=${book.id}&alignmentId=0|}">
                    <img th:src="@{|/upload/${book.bookImgName}|}" class="img" alt="">
                  </a>
                </div>
                <div class="detail-wrap">
                  <span class="title" th:text="${book.bookTitle}"></span>
                  <span class="author" th:text="${book.memberName}"></span>
                  <div class="star-wrap">
                    <svg width="1.2em" height="1.2em" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg" aria-label="구매자 평균 별점" class="star-symbol">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M5.5 0l1.812 3.303L11 4.025 8.446 6.759l.459 3.741L5.5 8.903 2.095 10.5l.459-3.74L0 4.002l3.688-.7L5.5 0z" fill="currentColor"></path>
                    </svg>
                    <span class="star" th:text="${book.star}"></span>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="recent-completion-container">
    <div class="recent-completion-title-container">
      <div class="recent-completion-title-wrap">
        <div class="recent-completion-title-text">
          <span class="recent-completion-title">무협 TOP</span>
        </div>
      </div>
    </div>
    <div class="recent-completion-list-container">
      <div class="recent-completion-list-wrap">
        <div class="recent-completion-div">
          <ul class="recent-completion-ul">
            <li class="recent-completion-li" th:each="book:${bookList5}">
              <div class="recent-completion">
                <div class="img-wrap">
                  <a th:href="@{|/book/book?id=${book.id}&alignmentId=0|}">
                    <img th:src="@{|/upload/${book.bookImgName}|}" class="img" alt="">
                  </a>
                </div>
                <div class="detail-wrap">
                  <span class="title" th:text="${book.bookTitle}"></span>
                  <span class="author" th:text="${book.memberName}"></span>
                  <div class="star-wrap">
                    <svg width="1.2em" height="1.2em" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg" aria-label="구매자 평균 별점" class="star-symbol">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M5.5 0l1.812 3.303L11 4.025 8.446 6.759l.459 3.741L5.5 8.903 2.095 10.5l.459-3.74L0 4.002l3.688-.7L5.5 0z" fill="currentColor"></path>
                    </svg>
                    <span class="star" th:text="${book.star}"></span>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</main>

<th:block th:replace="layout/footer :: footer"></th:block>
</body>
<script th:inline="javascript">
  window.onload = function () {
    const slideClick =  () => {
      document.getElementById('move-slider').click();
    }
    setTimeout(slideClick, 5000);
    setInterval(countNotice, 5000);
  }

  const bookSaveForm = () => {
    location.href = '/book/book-save-form';
  }
</script>
</html>