<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>신비한 서재입니다.</title>

  <link rel="stylesheet" th:href="@{/css/book/book-detail.css}">
</head>
<body>
<th:block th:replace="layout/header :: header"></th:block>

<table th:each="episode:${episodeList}">
  <tr>
    <td th:text="${episode.episodeTitle}"></td>
    <td><input type="button" th:onclick="priceMoney([[${episode.id}]])" value="버튼"></td>
  </tr>
</table>

<div class="profile-heart-wrap">
  <div class="heart">
    <a id="loveChange" th:onclick="bookLove()">
      <svg xmlns="http://www.w3.org/2000/svg" width="3rem" height="3rem" fill="currentColor" class="bi bi-heart empty-heart" viewBox="0 0 16 16">
        <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
      </svg>
      <!--          꽉찬하트 <svg xmlns="http://www.w3.org/2000/svg" width="3rem" height="3rem" fill="currentColor" class="bi bi-heart-fill full-heart" viewBox="0 0 16 16">-->
      <!--                <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>-->
      <!--              </svg>-->
    </a>
  </div>
</div>

<div id="test">
  <table th:each="comment:${commentList}">
    <tr>
      <th>작성자</th>
      <th>댓글 내용</th>
      <th>작성시간</th>
    </tr>
    <tr>
      <td th:text="${comment.memberName}"></td>
      <td th:text="${comment.contents}"></td>
      <td th:text="*{#temporals.format(comment.createdTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
      <td th:if="${session.name == comment.memberName}">
        <input type="button" th:onclick="deleteComment([[${comment.id}]],[[${comment.memberName}]])" value="삭제">
      </td>
    </tr>
  </table>
</div>

<main class="main-container">
  <div class="book-episode-comment-container">
    <div class="book-detail-container">
      <div class="book-img-wrap">
        <img th:src="@{|/upload/${book.bookImgName}|}" alt="" class="img">
      </div>
      <div class="book-detail-wrap">
        <div class="detail-wrap">
          <div class="title-wrap">
            <h2 class="title" th:text="${book.bookTitle}"></h2>
            <div class="wishlist-wrap">
              <button type="button" class="wishlist-btn">+ 관심</button>
            </div>
          </div>
          <div class="author-wrap">
            <div class="author-wrapper">
              <a href="#">
                <span class="author" th:text="${book.memberName}"></span>
              </a>
            </div>
            <div class="episode-quantity-wrap">
              <span class="quantity">총 99화</span>
            </div>
            <div class="status-wrap">
              <span class="status" th:text="${book.status}">연재</span>
            </div>
          </div>
          <div class="intro-wrap">
              <span class="intro" th:text="${book.introduce}"></span>
          </div>
          <div class="tag-wrap">
            <span class="tag novel">웹소설</span>
            <span class="tag poem">시</span>
            <span class="tag essay">에세이</span>
          </div>
        </div>
        <div class="action-wrap">
          <div class="first-btn-wrap">
            <button type="button" class="first-btn">첫 화 보기</button>
          </div>
          <div class="continue-btn-wrap">
            <button type="button" class="continue-btn">이어보기</button>
          </div>
          <div class="more-detail-wrap">
            <div class="hits-wrap">
              <div class="icon-wrap">
                <svg xmlns="http://www.w3.org/2000/svg" width="1.2rem" height="1.2rem" fill="currentColor" class="bi bi-eye eye-icon" viewBox="0 0 16 16">
                  <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
                  <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
                </svg>
              </div>
              <div class="desc-wrap">
                <span class="desc">2.2만</span>
              </div>
            </div>
            <div class="heart-wrap">
              <div class="icon-wrap">
                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" class="bi bi-heart heart-icon" viewBox="0 0 16 16">
                  <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                </svg>
              </div>
              <div class="desc-wrap">
                <span class="desc">6.3천</span>
              </div>
            </div>
            <div class="star-wrap">
              <div class="icon-wrap">
                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
                  <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
                </svg>
              </div>
              <div class="desc-wrap">
                <span class="star" th:text="${book.star}"></span>
              </div>
            </div>
            <div class="comment-quantity-wrap">
              <div class="icon-wrap">
                <svg xmlns="http://www.w3.org/2000/svg" width="1.2rem" height="1.2rem" fill="currentColor" class="bi bi-chat-dots" viewBox="0 0 16 16">
                  <path d="M5 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
                  <path d="m2.165 15.803.02-.004c1.83-.363 2.948-.842 3.468-1.105A9.06 9.06 0 0 0 8 15c4.418 0 8-3.134 8-7s-3.582-7-8-7-8 3.134-8 7c0 1.76.743 3.37 1.97 4.6a10.437 10.437 0 0 1-.524 2.318l-.003.011a10.722 10.722 0 0 1-.244.637c-.079.186.074.394.273.362a21.673 21.673 0 0 0 .693-.125zm.8-3.108a1 1 0 0 0-.287-.801C1.618 10.83 1 9.468 1 8c0-3.192 3.004-6 7-6s7 2.808 7 6c0 3.193-3.004 6-7 6a8.06 8.06 0 0 1-2.088-.272 1 1 0 0 0-.711.074c-.387.196-1.24.57-2.634.893a10.97 10.97 0 0 0 .398-2z"/>
                </svg>
              </div>
              <div class="desc-wrap">
                <span class="desc">63</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="episode-detail-container">

    </div>
    <div class="comment-detail-container">

    </div>
  </div>
</main>

<th:block th:replace="layout/footer :: footer"></th:block>
</body>
<script th:inline="javascript">
  const priceMoney = (episodeId) => {
    const memberId = [[${session.id}]];
    const bookId = [[${book.id}]];

    $.ajax({
      type: "post",
      url: "/box/pointCheck",
      data: {
        "memberId": memberId,
        "episodeId": episodeId,
        "bookId": bookId
      },
      dataType: "text",
      success: function (result) {
          if (result === "ok") {
            Swal.fire({
              icon: 'success',
              text: '보유하신 포인트가 부족합니다.',
              showConfirmButton: false,
              timer: 1500
            });
          } else if (result === "no") {
            $.ajax({
              type: "post",
              url: "/box/save",
              data: {
                "memberId": memberId,
                "bookId": bookId
              },
              dataType: "text",
              success: function (result) {
                if (result === "ok") {
                  location.href = "/book/episode?bookId=" + bookId + "?id=" + episodeId;
                }
              }
            })
          } else if (result === "보여줘") {
            alert("보여줘");
          } else if (result === "무료") {
            location.href = "/book/episode?bookId=" + bookId + "?id=" + episodeId;
          }
      }
    })
    $.ajax({
      type:"get",
      url:"/point/pay/"+memberId,
      data:{"episodeId":episodeId,"bookId":bookId},
      dataType:"text",
      success:function (){

      }
    });
  }
  const bookLove = () => {
    const loveChange = document.getElementById("loveChange");
    const bookId = [[${book.id}]];
    const memberName = [[${session.name}]];

    $.ajax({
      type: "post",
      url: "/wish/check",
      data: {
        "bookId": bookId,
        "memberName": memberName
      },
      dataType: "text",
      success: function (result) {
        if (result === "ok") {
          $.ajax({
            type: "delete",
            url: "/wish/delete",
            data: {
              "bookId" : bookId,
              "memberName" : memberName
            },
            dataType: "text",
            success: function (result) {
              if (result == "ok"){
                var output ="<svg xmlns=\"http://www.w3.org/2000/svg\" width=\"3rem\" height=\"3rem\" fill=\"currentColor\" class=\"bi bi-heart empty-heart\" viewBox=\"0 0 16 16\">" +
                        "<path d=\"m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z\"/>" +
                        "</svg>";
                loveChange.innerHTML = output;
                Swal.fire({
                  icon: 'success',
                  text: '관심 목록에서 삭제했어요.',
                  showConfirmButton: false,
                  timer: 1500
                });
              } else {
                alert("실패");
              }
            }
          })
        } else {
          $.ajax({
            type: "post",
            url: "/wish/save-writer",
            data: {
              "bookId": bookId,
              "memberName": memberName
            },
            dataType: "text",
            success: function (result) {
              if (result == "ok") {

                var output = "<svg xmlns=\"http://www.w3.org/2000/svg\" width=\"3rem\" height=\"3rem\" fill=\"currentColor\" class=\"bi bi-heart-fill full-heart\" viewBox=\"0 0 16 16\">" +
                        "<path fill-rule=\"evenodd\" d=\"M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z\"/>" +
                        "</svg>";
                loveChange.innerHTML = output;
                Swal.fire({
                  icon: 'success',
                  text: '관심 목록에 해당 책을 등록했어요.',
                  showConfirmButton: false,
                  timer: 1500
                });
              } else {
                alert("실패");
              }

            },

          })
        }
      }
    })


  }
</script>
</html>