<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="_csrf_header" th:content="${_csrf.headerName}">
  <meta name="_csrf" th:content="${_csrf.token}">
  <title>신비한 서재입니다.</title>

  <link rel="apple-touch-icon" sizes="180x180" th:href="@{/icon/apple-touch-icon.png}">
  <link rel="icon" type="image/png" sizes="32x32" th:href="@{/icon/favicon-32x32.png}">
  <link rel="icon" type="image/png" sizes="16x16" th:href="@{/icon/favicon-16x16.png}">
  <link rel="manifest" th:href="@{/icon/site.webmanifest}">

  <link rel="stylesheet" th:href="@{/css/book/episode-detail.css}">
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
  <script th:src="@{/js/episodeDetail.js}"></script>
  <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
  <script th:src="@{/js/jquery.js}"></script>
  <script th:src="@{/js/sweetalert2.min.js}"></script>
  <script th:src="@{|https://cdn.jsdelivr.net/npm/moment@2.29.4/moment.min.js|}"></script>
</head>
<body>

<div id="wrap">
  <div class="viewer-container">
    <div class="head-area">
      <div class="head-wrap">
        <div class="logo-wrap">
          <a th:href="@{|/book/book?id=${book.id}&alignmentId=0|}" class="logo-link">
            <img th:src="@{|/upload/${episode.episodeImgName}|}" class="logo" alt="">
          </a>
        </div>
        <div class="info-wrap">
          <div class="book-title-wrap">
            <a th:href="@{|/book/book?id=${book.id}&alignmentId=0|}" class="book-link">
              <span class="book-title" th:text="${book.bookTitle}"></span>
            </a>
          </div>
          <div class="episode-title-wrap">
            <span class="episode-title" th:text="${episode.episodeTitle}"></span>
          </div>
          <div class="spread-wrap">
            <button type="button" class="spread">
              <span class="spread-span">펼쳐보기</span>
              <div class="quick-list-nav">
                <div class="outer">
                  <div class="inner" tabindex="0">
                    <div class="inner-wrap">
                      <div class="inner-content">
                        <ul class="list" th:each="episode:${episodeList}">
                          <li><a class="list-link" th:href="@{|/book/episode?bookId=${episode.bookId}&id=${episode.id}|}" th:text="${episode.episodeTitle}"></a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </button>
          </div>
        </div>
      </div>
      <div class="tool-wrap">
        <div class="book-info-wrap">
          <a th:href="@{|/book/book?id=${book.id}&alignmentId=0|}" class="book-info">
              <span class="icon">
                <img th:src="@{/img/icon_list.png}" class="list-icon" alt="">
              </span>
            <span class="book-info-desc">작품정보</span>
          </a>
        </div>
        <div class="view-option-wrap">
          <a href="javascript:;" class="view-option">
              <span class="icon">
                <img th:src="@{/img/icon_view_option.png}" class="option-icon" alt="">
              </span>
            <span class="view-option-desc">보기설정</span>
            <div id="view-option-panel" class="option-panel">
              <div class="outer">
                <form class="option-form" id action method="post">
                  <fieldset>
                    <legend>보기설정</legend>
                    <dl class="items">
                      <dt>폰트 설정</dt>
                      <dd class="font-family">
                        <label id="fnt-01" class="opt-button type01 active" onclick="fnt01()">
                          <span>기본</span>
                        </label>
                        <label id="fnt-02" class="opt-button type02" onclick="fnt02()">
                          <span>명조</span>
                        </label>
                        <label id="fnt-03" class="opt-button type03" onclick="fnt03()">
                          <span>고운바탕</span>
                        </label>
                        <label id="fnt-04" class="opt-button type04" onclick="fnt04()">
                          <span>나눔고딕</span>
                        </label>
                      </dd>
                    </dl>
                    <dl class="items">
                      <dt>글자 크기</dt>
                      <dd class="font-size">
                        <label id="fnt-s-01" class="opt-button size01" onclick="size01()">
                          <span>12px</span>
                        </label>
                        <label id="fnt-s-02" class="opt-button size02" onclick="size02()">
                          <span>14px</span>
                        </label>
                        <label id="fnt-s-03" class="opt-button size03 active" onclick="size03()">
                          <span>16px</span>
                        </label>
                        <label id="fnt-s-04" class="opt-button size04" onclick="size04()">
                          <span>18px</span>
                        </label>
                        <label id="fnt-s-05" class="opt-button size05" onclick="size05()">
                          <span>20px</span>
                        </label>
                      </dd>
                    </dl>
                    <dl class="items">
                      <dt>줄 간격</dt>
                      <dd class="line-height">
                        <label id="fnt-h-01" class="opt-button height01" onclick="height01()">
                          <span>0.5</span>
                        </label>
                        <label id="fnt-h-02" class="opt-button height02 active" onclick="height02()">
                          <span>1.0</span>
                        </label>
                        <label id="fnt-h-03" class="opt-button height03" onclick="height03()">
                          <span>1.5</span>
                        </label>
                      </dd>
                    </dl>
                  </fieldset>
                </form>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="body-area">
      <div class="nav-btn">
        <a th:if="${before != 0}">
        <button type="button" class="prev-btn" th:onclick="before([[${episode.payment}]])">
          <span></span>
          <strong>이전 화</strong>
        </button>
        </a>
        <a th:if="${after != 0}">
        <button type="button" class="next-btn" th:onclick="after([[${episode.payment}]])">
          <span></span>
          <strong>다음 화</strong>
        </button>
        </a>
      </div>
      <div class="viewer-wrap">
        <div class="viewer">
          <a class="content" th:utext="${episode.episodeContents}">

          </a>
          <div class="content-footer">
            <div class="rate-wrap">
              <div class="rate-desc-wrap">
                <span class="rate-desc">별점</span>
              </div>
              <div class="star-form">
                <fieldset>
                  <input type="radio" name="star" value="5" id="rate1"><label for="rate1" class="last-star">⭐</label>
                  <input type="radio" name="star" value="4" id="rate2"><label for="rate2">⭐</label>
                  <input type="radio" name="star" value="3" id="rate3"><label for="rate3">⭐</label>
                  <input type="radio" name="star" value="2" id="rate4"><label for="rate4">⭐</label>
                  <input type="radio" name="star" value="1" id="rate5"><label for="rate5">⭐</label>
                </fieldset>
                <button type="button" id="star-btn" class="star-btn" th:if="${star.id == null}" th:onclick="saveStar()">별점주기</button>
              </div>
            </div>
            <div class="btn-wrap" th:if="${authentication.memberName eq book.memberName}">
              <div class="edit-btn-wrap">
                <a th:href="@{|/book/req-episode-update?id=${episode.id}|}">
                  <button type="button" class="edit-btn">수정</button>
                </a>
              </div>
              <div class="delete-btn-wrap">
                <a th:href="@{|/book/req-episode-delete?id=${episode.id}|}">
                  <button type="button" class="delete-btn">삭제</button>
                </a>
              </div>
            </div>
            <div class="attention-wrap">
              <div id="star" class="star-wrap">
                <span class="star">⭐</span>
                <span class="star-desc" th:text="${episode.star}"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button id="moveTop" class="">
      <span>최상단으로 이동</span>
    </button>
  </div>
  <div class="comment-container">
    <div class="comment-list-container">
      <div class="write-wrap">
        <div class="info">
          <h2 class="c-title">댓글 쓰기</h2>
        </div>
          <input type="hidden" id="memberId" name="memberId" th:value="${authentication.id}">
          <input type="hidden" id="episodeId" name="episodeId" th:value="${episode.id}">
          <input type="hidden" id="memberName" name="memberName" th:value="${authentication.memberName}">
          <input type="hidden" id="memberImgName" name="memberImgName" th:value="${member.memberImgName}">
          <input type="hidden" id="commentEpisode" name="commentEpisode" th:value="${episode.episodeTitle}">
          <textarea name="contents" id="input-contents" rows="5" placeholder="댓글은 500자 까지 등록 가능합니다."></textarea>
          <div class="btn-wrap">
            <div class="btn-align-right">
              <button type="button" th:onclick="commentSave()" class="btn-submit">
                <span>댓글 등록</span>
              </button>
              <button type="button" class="btn-cancel" onclick="cancelBTN()">
                <span>취소</span>
              </button>
            </div>
          </div>
      </div>
      <div class="list-wrap">
        <div class="info title">
          <span class="list-title">댓글 목록 (</span>
          <span class="list-title" th:text="${#lists.size(commentList)}"></span>
          <span class="list-title">)</span>
        </div>
        <div class="comment-list-wrap">
          <ul id="saveComment">
            <li th:each="comment:${commentList}">
              <div class="info">
                <div>
                  <a th:href="@{|/member/mypage/${comment.memberId}|}" class="writer-link">
                    <span class="writer" th:text="${comment.memberName}"></span>
                  </a>
                  <span class="date" th:text="*{#temporals.format(comment.createdTime, 'yyyy-MM-dd HH:mm:ss')}"></span>
                </div>
                <div>
                  <span class="update" th:if="${comment.memberName == authentication.memberName && comment.contents != '관리자에 의해 숨겨진 글입니다'}">
                    <a href="javascript:;" class="update-btn" th:onclick="updateComment([[${comment.id}]])">수정</a>
                  </span>
                  <span class="delete" th:if="${comment.memberName == authentication.memberName && comment.contents != '관리자에 의해 숨겨진 글입니다'}">
                    <a href="javascript:;" class="delete-btn" th:onclick="deleteComment([[${comment.id}]],[[${comment.memberName}]])">삭제</a>
                  </span>
                  <span class="report">
                    <a href="javascript:;" class="report-btn" th:if="${authentication.memberName != comment.memberName && comment.contents != '관리자에 의해 숨겨진 글입니다'}" th:onclick="reportComment([[${comment.id}]])">신고</a>
                  </span>
                </div>
              </div>
              <div th:id="${comment.id + 'comment'}" class="content">
                <span class="content" th:id="${comment.id + 'span'}" th:text="${comment.contents}"></span>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
</body>

<script th:inline="javascript">
  const after = (payment) => {
    let header = $("meta[name='_csrf_header']").attr('content');
    let token = $("meta[name='_csrf']").attr('content');

    const memberId = [[${authentication.id}]];
    const memberName = [[${authentication.memberName}]];
    const bookId = [[${book.id}]];
    const episodeId = [[${after}]];

    $.ajax({
      type: "post",
      url: "/history/episodeCheck",
      data: {
        "memberId": memberId,
        "episodeId": episodeId
      },
      dataType: "text",
      beforeSend: function (xhr) {
        xhr.setRequestHeader(header, token);
      },
      success: function (result) {
        if (result == "내역있음") {
          location.href = "/book/episode?bookId=" + bookId + "&id=" + episodeId;
        } else if (result == "내역없음") {
          if (payment != 0) {
            Swal.fire({
              icon: 'info',
              text: '결제하시겠습니까?',
              showConfirmButton: 'OK',
              showDenyButton: 'NO'
            }).then(result => {
              if (result.isConfirmed) {
                $.ajax({
                  type: "post",
                  url: "/box/pointCheck",
                  data: {
                    "memberId": memberId,
                    "memberName": memberName,
                    "episodeId": episodeId,
                    "bookId": bookId
                  },
                  dataType: "text",
                  beforeSend: function (xhr) {
                    xhr.setRequestHeader(header, token);
                  },
                  success: function (result) {
                    if (result === "잔고부족") {
                      Swal.fire({
                        icon: 'error',
                        text: '보유하신 포인트가 부족합니다.',
                        showConfirmButton: false,
                        timer: 1000
                      });
                    } else if (result === "유료저장") {
                      $.ajax({
                        type: "post",
                        url: "/box/save",
                        data: {
                          "memberId": memberId,
                          "memberName": memberName,
                          "bookId": bookId,
                          "episodeId": episodeId
                        },
                        dataType: "text",
                        beforeSend: function (xhr) {
                          xhr.setRequestHeader(header, token);
                        },
                        success: function (result) {
                          if (result === "ok") {
                            $.ajax({
                              type: "get",
                              url: "/point/pay/" + memberId,
                              data: {"episodeId": episodeId, "bookId": bookId},
                              dataType: "text",
                              success: function (result) {
                                if (result === "ok") {
                                  location.href = "/book/episode?bookId=" + bookId + "&id=" + episodeId;
                                }
                              }
                            });
                          } else if (result === "no") {
                            location.href = "/book/episode?bookId=" + bookId + "&id=" + episodeId;
                          }
                        }
                      });
                    } else if (result == "결제이력있음") {
                      location.href = "/book/episode?bookId=" + bookId + "&id=" + episodeId;
                    }
                  }
                });
              }
            });
          } else {
            $.ajax({
              type: "post",
              url: "/box/pointCheck",
              data: {
                "memberId": memberId,
                "memberName": memberName,
                "episodeId": episodeId,
                "bookId": bookId
              },
              dataType: "text",
              beforeSend: function (xhr) {
                xhr.setRequestHeader(header, token);
              },
              success: function (result) {
                if (result === "무료저장") {
                  location.href = "/book/episode?bookId=" + bookId + "&id=" + episodeId;
                }
              }
            });
          }
        } else {
          alert("몰라");
        }
      }
    });
  }

  const before = (payment) => {
    let header = $("meta[name='_csrf_header']").attr('content');
    let token = $("meta[name='_csrf']").attr('content');

    const memberId = [[${authentication.id}]];
    const memberName = [[${authentication.memberName}]];
    const bookId = [[${book.id}]];
    const episodeId = [[${before}]];

    $.ajax({
      type: "post",
      url: "/history/episodeCheck",
      data: {
          "memberId": memberId,
          "episodeId": episodeId
      },
      dataType: "text",
      beforeSend: function (xhr) {
          xhr.setRequestHeader(header, token);
      },
      success: function (result) {
          if (result == "내역있음") {
              location.href = "/book/episode?bookId=" + bookId + "&id=" + episodeId;
          } else if (result == "내역없음") {
            if (payment != 0) {
              Swal.fire({
                  icon: 'info',
                  text: '결제하시겠습니까?',
                  showConfirmButton: 'OK',
                  showDenyButton: 'NO'
              }).then(result => {
                if (result.isConfirmed) {
                  $.ajax({
                    type: "post",
                    url: "/box/pointCheck",
                    data: {
                      "memberId": memberId,
                      "memberName": memberName,
                      "episodeId": episodeId,
                      "bookId": bookId
                    },
                    dataType: "text",
                    beforeSend: function (xhr) {
                      xhr.setRequestHeader(header, token);
                    },
                    success: function (result) {
                      if (result === "잔고부족") {
                        Swal.fire({
                          icon: 'error',
                          text: '보유하신 포인트가 부족합니다.',
                          showConfirmButton: false,
                          timer: 1000
                        });
                      } else if (result === "유료저장") {
                        $.ajax({
                          type: "post",
                          url: "/box/save",
                          data: {
                            "memberId": memberId,
                            "memberName": memberName,
                            "bookId": bookId,
                            "episodeId": episodeId
                          },
                          dataType: "text",
                          beforeSend: function (xhr) {
                            xhr.setRequestHeader(header, token);
                          },
                          success: function (result) {
                            if (result === "ok") {
                              $.ajax({
                                type: "get",
                                url: "/point/pay/" + memberId,
                                data: {"episodeId": episodeId, "bookId": bookId},
                                dataType: "text",
                                success: function (result) {
                                  if (result === "ok") {
                                    location.href = "/book/episode?bookId=" + bookId + "&id=" + episodeId;
                                  }
                                }
                              });
                            } else if (result === "no") {
                              location.href = "/book/episode?bookId=" + bookId + "&id=" + episodeId;
                            }
                          }
                        });
                      } else if (result == "결제이력있음") {
                        location.href = "/book/episode?bookId=" + bookId + "&id=" + episodeId;
                      }
                    }
                  });
                }
              });
            } else {
              $.ajax({
                type: "post",
                url: "/box/pointCheck",
                data: {
                  "memberId": memberId,
                  "memberName": memberName,
                  "episodeId": episodeId,
                  "bookId": bookId
                },
                dataType: "text",
                beforeSend: function (xhr) {
                  xhr.setRequestHeader(header, token);
                },
                success: function (result) {
                  if (result === "무료저장") {
                    location.href = "/book/episode?bookId=" + bookId + "&id=" + episodeId;
                  }
                }
              });
            }
          } else {
            alert("몰라");
          }
        }
    });
  }
  const cancelBTN = () => {
    document.getElementById('input-contents').value = '';
  }
  const cancelBTN1 = () => {
    document.getElementById('input-content1').value = '';
  }
  const commentSave = () => {
    const memberId = [[${authentication.id}]];
    const loginName = [[${authentication.memberName}]];
    const episodeId = document.getElementById("episodeId").value;
    const memberName = document.getElementById("memberName").value;
    const memberImgName = document.getElementById("memberImgName").value;
    const commentEpisode = document.getElementById("commentEpisode").value;
    const inputContents = document.getElementById("input-contents").value;
    const saveComment = document.getElementById("saveComment");

    let header = $("meta[name='_csrf_header']").attr('content');
    let token = $("meta[name='_csrf']").attr('content');

    $.ajax({
      type: "post",
      url: "/comment/save",
      data: {
        "memberId": memberId,
        "episodeId": episodeId,
        "memberName": memberName,
        "memberImgName": memberImgName,
        "commentEpisode": commentEpisode,
        "contents": inputContents
      },
      dataType: "json",
      beforeSend: function(xhr){
        xhr.setRequestHeader(header, token);
      },
      success: function (result) {
        if (result != null) {
          document.getElementById('input-contents').value = '';
          var output = "";

          for (let i in result) {
            output += "<li>" +
              "<div class=\"info\">" +
              "  <div>" +
              "    <a href=\"/member/mypage/" + result[i].memberId + "\" class=\"writer-link\">" +
              "      <span class=\"writer\">" + result[i].memberName + "</span>" +
              "    </a>" +
              "    <span class=\"date\">" + moment(result[i].createdTime).format("YYYY-MM-DD HH:mm:ss") + "</span>" +
              "  </div>" +
              "<div>";

            if (result[i].memberName == loginName && result[i].contents != "관리자에 의해 숨겨진 글입니다") {
              output += "<span class=\"update\">" +
                "  <a href=\"javascript:;\" class=\"update-btn\" onclick=\"updateComment(" + result[i].id + ")\">수정</a>" +
                "</span>" +
                "<span class=\"delete\">" +
                "  <a href=\"javascript:;\" class=\"delete-btn\" onclick=\"deleteComment(" + result[i].id + ")\">삭제</a>" +
                "</span>";
            }

            if (result[i].memberName != loginName && result[i].contents == "관리자에 의해 숨겨진 글입니다"){
              output += "<span class=\"report\">" +
                  "  <a href=\"javascript:;\" class=\"report-btn\" onclick=\"reportComment(" + result[i].id + ")\">신고</a>" +
                  "</span>";
            }

              output += "</div>" +
              "</div>" +
              "<div id=\"" + result[i].id + 'comment' + "\" class=\"content\">" +
              "  <span class=\"content\" id=\"" + result[i].id + 'span' + "\">" + result[i].contents + "</span>" +
              "</div>" +
              "</li>";
          }
          saveComment.innerHTML = output;
        }
      }
    });
  }

  const updateComment = (id) => {
    const contentsUpdate = document.getElementById(id + "comment");
    const contentsBefore = document.getElementById(id + "span").innerHTML;

    var output = "<textarea type=\'text\' id=\'input-content1\' name=\'contents\' class='input-contents'>"+ contentsBefore + "</textarea>";
    output += "<button type=\"button\" onclick=\"modify("+ id + ")\" class=\"comment-update-btn\">" + "<span>" + "수정" +"</span>" + "</button>";
    output += "<button type=\"button\" onclick=\"cancelBTN1()\" class=\"comment-cancel-btn\">" + "<span>" + "취소" +"</span>" + "</button>";
    contentsUpdate.innerHTML = output;
  }

  const modify = (id) => {
    let header = $("meta[name='_csrf_header']").attr('content');
    let token = $("meta[name='_csrf']").attr('content');

    const saveComment = document.getElementById("saveComment");
    const loginName = [[${authentication.memberName}]];
    const contentsAfter = document.getElementById("input-content1").value;
    const episodeId = [[${episode.id}]];

    $.ajax({
      type: "post",
      url: "/comment/update",
      data: {
        "id": id,
        "contents": contentsAfter,
        "episodeId": episodeId
      },
      dataType: "json",
      beforeSend: function(xhr){
        xhr.setRequestHeader(header, token);
      },
      success: function (result) {
        if (result != null) {
          var output = "";
          for (let i in result) {
            output += "<li>" +
              "              <div class=\"info\">" +
              "                <div>" +
              "                  <a href=\"/member/mypage/" + result[i].memberId + "\" class=\"writer-link\">" +
              "                    <span class=\"writer\">" + result[i].memberName + "</span>" +
              "                  </a>" +
              "                  <span class=\"date\">" + moment(result[i].createdTime).format("YYYY-MM-DD HH:mm:ss") + "</span>" +
              "                </div>" +
              "                <div>";

            if (result[i].memberName == loginName && result[i].contents != "관리자에 의해 숨겨진 글입니다") {
              output += "            <span class=\"update\">" +
                "                    <a href=\"javascript:;\" class=\"update-btn\" onclick=\"updateComment(" + result[i].id + ")\">수정</a>" +
                "                  </span>" +
                "                  <span class=\"delete\">" +
                "                    <a href=\"javascript:;\" class=\"delete-btn\" onclick=\"deleteComment(" + result[i].id + ")\">삭제</a>" +
                "                  </span>";

            }
            if (result[i].memberName != loginName && result[i].contents == "관리자에 의해 숨겨진 글입니다"){
              output += "                <span class=\"report\">" +
                "                        <a href=\"javascript:;\" class=\"report-btn\" onclick=\"reportComment(" + result[i].id + ")\">신고</a>" +
                "                      </span>";
            }

            output += "              </div>" +
              "              </div>" +
              "              <div id=\"" + result[i].id + 'comment' + "\" class=\"content\">" +
              "                <span class=\"content\" id=\"" + result[i].id + 'span' + "\">" + result[i].contents + "</span>" +
              "              </div>" +
              "            </li>";
          }
          saveComment.innerHTML = output;
        }
      }
    });
  }

  const reportComment = (id) => {
    let header = $("meta[name='_csrf_header']").attr('content');
    let token = $("meta[name='_csrf']").attr('content');

    const loginId = [[${authentication.id}]];

    $.ajax({
      type: "post",
      url: "/comment/req-report-check",
      data: {
        "id": id,
        "memberId": loginId
      },
      dataType: "text",
      beforeSend: function(xhr){
        xhr.setRequestHeader(header, token);
      },
      success: function (result) {
        if (result == "신고내역있음") {
        Swal.fire({
            icon: 'error',
            text: '이미 신고하신 댓글입니다.',
            showConfirmButton: false,
            timer: 1000
          });
        } else {
          $.ajax({
            type: "post",
            url: "/comment/report-save/" + id,
            data: {
              "id": id,
              "loginId": loginId
            },
            dataType: "text",
            beforeSend: function(xhr){
              xhr.setRequestHeader(header, token);
            },
            success: function (result) {
              if (result === 'ok') {
                Swal.fire({
                  icon: 'success',
                  text: '신고처리가 완료되었습니다.',
                  showConfirmButton: false,
                  timer: 1000
                });
              } else {
                alert("신고실패");
              }
            }
          });
        }
      }
    });
  }

  const deleteComment = (id) => {
    let header = $("meta[name='_csrf_header']").attr('content');
    let token = $("meta[name='_csrf']").attr('content');

    const saveComment = document.getElementById("saveComment");
    const loginName = [[${authentication.memberName}]];
    const episodeId = [[${episode.id}]];

    $.ajax({
      type: "delete",
      url: "/comment/delete/" + id,
      data: {
          "episodeId": episodeId
      },
      dataType: "json",
      beforeSend: function(xhr){
          xhr.setRequestHeader(header, token);
      },
      success: function (result) {
        if (result != null) {
          var output = "";
          for (let i in result) {
            output += "<li>" +
              "              <div class=\"info\">" +
              "                <div>" +
              "                  <a href=\"/member/mypage/" + result[i].memberId + "\" class=\"writer-link\">" +
              "                    <span class=\"writer\">" + result[i].memberName + "</span>" +
              "                  </a>" +
              "                  <span class=\"date\">" + moment(result[i].createdTime).format("YYYY-MM-DD HH:mm:ss") + "</span>" +
              "                </div>" +
              "                <div>";

            if (result[i].memberName == loginName && result[i].contents != "관리자에 의해 숨겨진 글입니다") {
              output += "            <span class=\"update\">" +
                "                    <a href=\"javascript:;\" class=\"update-btn\" onclick=\"updateComment(" + result[i].id + ")\">수정</a>" +
                "                  </span>" +
                "                  <span class=\"delete\">" +
                "                    <a href=\"javascript:;\" class=\"delete-btn\" onclick=\"deleteComment(" + result[i].id + ")\">삭제</a>" +
                "                  </span>";

            }
            if (result[i].memberName != loginName && result[i].contents == "관리자에 의해 숨겨진 글입니다"){
              output += "                <span class=\"report\">" +
                "                        <a href=\"javascript:;\" class=\"report-btn\" onclick=\"reportComment(" + result[i].id + ")\">신고</a>" +
                "                      </span>";
            }

            output += "              </div>" +
              "              </div>" +
              "              <div id=\"" + result[i].id + 'comment' + "\" class=\"content\">" +
              "                <span class=\"content\" id=\"" + result[i].id + 'span' + "\">" + result[i].contents + "</span>" +
              "              </div>" +
              "            </li>";
          }
          saveComment.innerHTML = output;
        }
      }
    });
  }

  const saveStar = () => {
    let header = $("meta[name='_csrf_header']").attr('content');
    let token = $("meta[name='_csrf']").attr('content');

    var star = 0;
    const star1 = document.getElementById("rate5").checked;
    const star2 = document.getElementById("rate4").checked;
    const star3 = document.getElementById("rate3").checked;
    const star4 = document.getElementById("rate2").checked;
    const star5 = document.getElementById("rate1").checked;

    if (star1 == true || star2 == true || star3 == true || star4 == true || star5 == true) {
      const starPrint = document.getElementById("star");
      const starBtn = document.getElementById("star-btn");

      if (star1 == true) {
          star = 1;
      } else if (star2 == true) {
          star = 2;
      } else if (star3 == true) {
          star = 3;
      } else if (star4 == true) {
          star = 4;
      } else {
          star = 5;
      }

      const memberId = [[${authentication.id}]];
      const episodeId = [[${episode.id}]];

      $.ajax({
        type: "post",
        url: "/book/save-star",
        data: {
          "memberId": memberId,
          "episodeId": episodeId,
          "star": star
        },
        dataType: "text",
        beforeSend: function(xhr){
          xhr.setRequestHeader(header, token);
        },
        success: function (result) {
          if (result != null) {
            var output = "<span class=\"star\">⭐</span>\n" +
              "                <span class=\"star-desc\">" + result + "</span>";
            // starBtn.setAttribute("hidden", true);
            starBtn.style.display = "none";
          }
          starPrint.innerHTML = output;
        },
      });
    } else {
      alert("별점을 입력해주세요");
    }
  }

  const content = document.querySelector('.content');
  const label01 = document.getElementById('fnt-01');
  const label02 = document.getElementById('fnt-02');
  const label03 = document.getElementById('fnt-03');
  const label04 = document.getElementById('fnt-04');
  const fslabel01 = document.getElementById('fnt-s-01');
  const fslabel02 = document.getElementById('fnt-s-02');
  const fslabel03 = document.getElementById('fnt-s-03');
  const fslabel04 = document.getElementById('fnt-s-04');
  const fslabel05 = document.getElementById('fnt-s-05');
  const lhlabel01 = document.getElementById('fnt-h-01');
  const lhlabel02 = document.getElementById('fnt-h-02');
  const lhlabel03 = document.getElementById('fnt-h-03');

  const fnt01 = () => {
    content.classList.add('c-fnt-01');
    content.classList.remove('c-fnt-02', 'c-fnt-03', 'c-fnt-04');
    label01.className = 'opt-button type01 active';
    label02.className = 'opt-button type02';
    label03.className = 'opt-button type03';
    label04.className = 'opt-button type04';
  }
  const fnt02 = () => {
    content.classList.add('c-fnt-02');
    content.classList.remove('c-fnt-01', 'c-fnt-03', 'c-fnt-04');
    label01.className = 'opt-button type01';
    label02.className = 'opt-button type02 active';
    label03.className = 'opt-button type03';
    label04.className = 'opt-button type04';
  }
  const fnt03 = () => {
    content.classList.add('c-fnt-03');
    content.classList.remove('c-fnt-01', 'c-fnt-02', 'c-fnt-04');
    label01.className = 'opt-button type01';
    label02.className = 'opt-button type02';
    label03.className = 'opt-button type03 active';
    label04.className = 'opt-button type04';
  }
  const fnt04 = () => {
    content.classList.add('c-fnt-04');
    content.classList.remove('c-fnt-01', 'c-fnt-02', 'c-fnt-03');
    label01.className = 'opt-button type01';
    label02.className = 'opt-button type02';
    label03.className = 'opt-button type03';
    label04.className = 'opt-button type04 active';
  }

  const size01 = () => {
    content.classList.add('c-fnt-s-01');
    content.classList.remove('c-fnt-s-02', 'c-fnt-s-03', 'c-fnt-s-04', 'c-fnt-s-05');
    fslabel01.className = 'opt-button size01 active';
    fslabel02.className = 'opt-button size02';
    fslabel03.className = 'opt-button size03';
    fslabel04.className = 'opt-button size04';
    fslabel05.className = 'opt-button size05';
  }
  const size02 = () => {
    content.classList.add('c-fnt-s-02');
    content.classList.remove('c-fnt-s-01', 'c-fnt-s-03', 'c-fnt-s-04', 'c-fnt-s-05');
    fslabel01.className = 'opt-button size01';
    fslabel02.className = 'opt-button size02 active';
    fslabel03.className = 'opt-button size03';
    fslabel04.className = 'opt-button size04';
    fslabel05.className = 'opt-button size05';
  }
  const size03 = () => {
    content.classList.add('c-fnt-s-03');
    content.classList.remove('c-fnt-s-01', 'c-fnt-s-02', 'c-fnt-s-04', 'c-fnt-s-05');
    fslabel01.className = 'opt-button size01';
    fslabel02.className = 'opt-button size02';
    fslabel03.className = 'opt-button size03 active';
    fslabel04.className = 'opt-button size04';
    fslabel05.className = 'opt-button size05';
  }
  const size04 = () => {
    content.classList.add('c-fnt-s-04');
    content.classList.remove('c-fnt-s-01', 'c-fnt-s-02', 'c-fnt-s-03', 'c-fnt-s-05');
    fslabel01.className = 'opt-button size01';
    fslabel02.className = 'opt-button size02';
    fslabel03.className = 'opt-button size03';
    fslabel04.className = 'opt-button size04 active';
    fslabel05.className = 'opt-button size05';
  }
  const size05 = () => {
    content.classList.add('c-fnt-s-05');
    content.classList.remove('c-fnt-s-01', 'c-fnt-s-02', 'c-fnt-s-03', 'c-fnt-s-04');
    fslabel01.className = 'opt-button size01';
    fslabel02.className = 'opt-button size02';
    fslabel03.className = 'opt-button size03';
    fslabel04.className = 'opt-button size04';
    fslabel05.className = 'opt-button size05 active';
  }

  const height01 = () => {
    content.classList.add('c-fnt-h-01');
    content.classList.remove('c-fnt-h-02', 'c-fnt-h-03');
    lhlabel01.className = 'opt-button height01 active';
    lhlabel02.className = 'opt-button height02';
    lhlabel03.className = 'opt-button height03';
  }
  const height02 = () => {
    content.classList.add('c-fnt-h-02');
    content.classList.remove('c-fnt-h-01', 'c-fnt-h-03');
    lhlabel01.className = 'opt-button height01';
    lhlabel02.className = 'opt-button height02 active';
    lhlabel03.className = 'opt-button height03';
  }
  const height03 = () => {
    content.classList.add('c-fnt-h-03');
    content.classList.remove('c-fnt-h-01', 'c-fnt-h-02');
    lhlabel01.className = 'opt-button height01';
    lhlabel02.className = 'opt-button height02';
    lhlabel03.className = 'opt-button height03 active';
  }
</script>
</html>