<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>신비한 서재입니다.</title>

  <link rel="stylesheet" th:href="@{/css/book/save-form.css}">
  <link rel="stylesheet" th:href="@{/css/book/update.css}">
  <script th:src="@{/js/bookUpdate.js}"></script>
</head>
<body>
<th:block th:replace="layout/header :: header"></th:block>

<main class="main-container">
  <div class="save-form-container">
    <div class="save-form-wrap">
      <div class="save-form-div">
        <div class="save-form">
          <form class="form-to-save" action="/book/req-book-update" method="post" enctype="multipart/form-data">
            <input type="hidden" th:name="_csrf" th:value="${_csrf.token}"/>
            <input type="hidden" name="memberName" th:value="${authentication.memberName}">
            <input type="hidden" name="id" th:value="${book.id}">
            <input type="hidden" name="bookImgName" th:value="${book.bookImgName}">
            <input type="hidden" name="writerRole" th:value="${book.writerRole}">
            <input type="hidden" name="star" th:value="${book.star}">
            <div class="select-list-wrap">
              <div class="category-list-wrap">
                <select id="category" name="categoryId" class="select-input" th:value="${book.categoryId}">
                  <option value="">카테고리</option>
                  <option id="c1" value="1">웹소설</option>
                  <option id="c2" value="2">시</option>
                  <option id="c3" value="3">에세이</option>
                </select>
              </div>
              <div class="genre-list-wrap">
                <select id="genre" name="genreId" class="select-input" th:value="${book.genreId}">
                  <option value="">장르</option>
                  <option id="g1" value="1">판타지</option>
                  <option id="g2" value="2">현대판타지</option>
                  <option id="g3" value="3">로맨스</option>
                  <option id="g4" value="4">로맨스판타지</option>
                  <option id="g5" value="5">무협</option>
                </select>
              </div>
              <div class="status-wrap">
                <select id="status" name="status" class="select-input" th:value="${book.status}">
                  <option value="" selected>연재상태</option>
                  <option id="s1" value="연재">연재</option>
                  <option id="s2" value="완결">완결</option>
                  <option id="s3" value="휴재">휴재</option>
                </select>
              </div>
              <div class="feat-wrap">
                <input type="text" name="feat" th:value="${book.feat}" class="feat" placeholder="공동작업 작가">
              </div>
            </div>
            <div class="title-wrap">
              <div class="title-wrapper">
                <label class="title">도서명</label>
              </div>
              <div class="input-wrap">
                <input type="text" name="bookTitle" th:value="${book.bookTitle}" class="title" placeholder="도서명을 입력해주세요.">
              </div>
            </div>
            <div class="intro-wrap">
              <div class="intro-wrapper">
                <label class="intro">소개글</label>
              </div>
              <div class="input-wrap">
                <textarea maxlength="500" onkeyup="resize(this)" th:text="${book.introduce}" class="intro" name="introduce" placeholder="소개글을 입력해주세요."></textarea>
              </div>
            </div>
            <div class="file-and-btn-wrap">
              <div class="file-wrap">
                <div class="title-wrap">
                  <label class="title">표지 사진</label>
                </div>
                <div class="input-wrap">
                  <input type="file" name="bookImg">
                </div>
              </div>
            </div>
            <div class="intro-wrap">
              <div class="intro-wrapper">
                <label class="intro">사유</label>
              </div>
              <div class="input-wrap">
                <textarea maxlength="500" onkeyup="resize(this)" class="intro" name="why" placeholder="삭제 사유를 입력해주세요."></textarea>
              </div>
            </div>
            <div class="send-wrap">
              <input type="hidden" name="toAddress" value="pysoya@naver.com">
              <div class="title-wrap">
                <label class="title">이메일</label>
              </div>
              <div class="input-wrap">
                <div class="from-wrap">
                  <input type="text" name="fromAddress" placeholder="작가님의 이메일을 입력해주세요.">
                </div>
                <div class="mail-title-wrap">
                  <input type="text" name="mailTitle" placeholder="메일의 제목을 입력해주세요.">
                </div>
              </div>
            </div>
            <div class="btn-wrap">
              <div class="btn-wrapper">
                <button type="submit" class="submit-btn">수정 요청</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</main>

<th:block th:replace="layout/footer :: footer"></th:block>
</body>
<script th:inline="javascript">
  const category = [[${book.categoryId}]];
  const genre = [[${book.genreId}]];
  const status = [[${book.status}]];
</script>
</html>