<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>신비한 서재입니다.</title>

  <link rel="stylesheet" th:href="@{/css/member/set-password.css}">
</head>
<body>
<th:block th:replace="layout/header :: header"></th:block>

<main class="main-container">
  <div class="content-container">
    <div class="title-wrap">
      <h5 class="title">비밀번호 찾기</h5>
    </div>
    <div class="input-wrap">
      <div class="label-id-wrap">
        <label class="label-id">아이디</label>
      </div>
      <div class="input-id-wrap">
        <input type="text" id="loginId" class="input-id" placeholder="아이디123">
      </div>
      <div class="result-id-wrap">
        <span class="span-id" id="resultId"></span>
      </div>
    </div>
    <div class="input-wrap">
      <div class="label-email-wrap">
        <label class="label-email">이메일</label>
      </div>
      <div class="input-email-wrap">
        <input type="text" id="memberEmail" class="inputEmail" placeholder="example@example.com">
        <button type="button" class="request-auth" onclick="memberEmailCheck()">인증번호 받기</button>
      </div>
      <div class="result-email-wrap">
        <span class="span-email" id="resultEmail"></span>
      </div>
    </div>
    <div class="input-wrap">
      <div class="label-auth-wrap">
      </div>
      <div class="input-auth-wrap">
        <input type="text" id="inputAuth" class="input-auth" placeholder="인증번호 입력">
        <button type="button" class="check-auth" onclick="emailNumCheck()">인증하기</button>
      </div>
      <div class="result-auth-wrap">
        <span class="span-auth" id="resultAuth"></span>
      </div>
    </div>
    <div class="btn-wrap">
      <button type="button" class="submit-btn" onclick="passwordReset()">비밀번호 찾기</button>
    </div>
  </div>
</main>

<th:block th:replace="layout/footer :: footer"></th:block>
</body>
<script th:inline="javascript">
    let code = "";
    let emailNumCheckResult = false;
    const memberEmailCheck = () => {
        const memberEmail = document.getElementById("memberEmail").value;
        const loginId = document.getElementById("loginId").value;
        const resultEmail = document.getElementById("resultEmail");
        if (memberEmail.length != 0 && loginId.length != 0) {
            let header = $("meta[name='_csrf_header']").attr('content');
            let token = $("meta[name='_csrf']").attr('content');

            $.ajax({
                type: "post",
                url: "/member/find-by-login-id-and-email",
                data: {"loginId": loginId, "memberEmail": memberEmail},
                dataType: "text",
                beforeSend: function (xhr) {
                    xhr.setRequestHeader(header, token);
                },
                success: function (result) {
                    if (result != 'empty') {
                        code = result;
                        Swal.fire('메일 전송이 완료되었습니다.\n확인 후 인증번호를 입력해주세요.');
                    } else {
                        resultEmail.innerHTML = '아이디 또는 이메일을 다시 확인해주세요.';
                    }
                }
            });
        } else {
            resultEmail.innerHTML = '아이디와 이메일을 입력해주세요.';
        }
    }

    const emailNumCheck = () => {
        const resultAuth = document.getElementById("resultAuth");
        const inputNumber = document.getElementById("inputAuth").value;

        if (inputNumber == code) {
            emailNumCheckResult = true;
            resultAuth.innerHTML = "인증번호가 일치합니다.";
            resultAuth.style.color = "dodgerblue";
        } else {
            resultAuth.innerHTML = "인증번호를 다시 확인해주세요.";
        }
    }

    const passwordReset = () => {
        const loginId = document.getElementById("loginId");
        const inputMemberEmail = document.getElementById("memberEmail");
        const inputNumber = document.getElementById("inputAuth");
        const resultAuth = document.getElementById("resultAuth");


        if (emailNumCheckResult == true) {
            let header = $("meta[name='_csrf_header']").attr('content');
            let token = $("meta[name='_csrf']").attr('content');

            const memberEmail = document.getElementById("memberEmail").value;

            $.ajax({
                type: "post",
                url: "/member/password-reset",
                data: {"memberEmail": memberEmail},
                beforeSend: function (xhr) {
                    xhr.setRequestHeader(header, token);
                },
                success: function () {
                    Swal.fire('이메일로 비밀번호가 전송되었습니다.');
                    loginId.value = "";
                    inputMemberEmail.value = "";
                    inputNumber.value = "";
                    resultAuth.innerHTML = "";
                }
            });
        } else {
            Swal.fire('죄송합니다.\n서버 오류로 인증에 실패했습니다.\n다시 진행해주세요.');
            Swal.fire('"인증하기" 를 눌러주세요.');
        }
    }
</script>
</html>