<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>신비한 서재입니다.</title>

  <link rel="stylesheet" th:href="@{/css/member/set-password.css}">
<body>
<th:block th:replace="layout/header :: header"></th:block>

<main class="main-container">
  <div class="content-container">
    <div class="title-wrap">
      <h5 class="title">로그인</h5>
    </div>
    <form class="login-form" action="/member/login" method="post">
      <input type="hidden" th:name="_csrf" th:value="${_csrf.token}"/>
    <div class="input-wrap">
      <div class="label-id-wrap">
        <label class="label-id">아이디</label>
      </div>
      <div class="input-id-wrap">
        <input type="text" id="input-id" name="loginId" class="input-id" placeholder="아이디123">
      </div>
      <div class="result-id-wrap">
        <span class="span-id" id="result-id-login"></span>
      </div>
    </div>
    <div class="input-wrap">
      <div class="label-pw-wrap">
        <label class="label-pw">비밀번호</label>
      </div>
      <div class="input-pw-wrap">
        <input type="password" name="memberPassword" class="input-pw" placeholder="********">
      </div>
<!--      <div class="result-pw-wrap">-->
<!--        <span class="span-pw" id="result-pw"></span>-->
<!--        <p class="" th:text="${exception}"></p>-->
<!--      </div>-->
    </div>

    <div class="btn-wrap">
      <button type="submit" class="submit-btn">로그인</button>
    </div>
    </form>
  </div>
</main>

<th:block th:replace="layout/footer :: footer"></th:block>
</body>
</script>
</html>