<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>신비한 서재입니다.</title>

  <link rel="stylesheet" th:href="@{/css/member/point-history.css}">

  <script th:src="@{/js/requestAuthor.js}"></script>
</head>
<body>
<th:block th:replace="layout/header :: header"></th:block>

<main class="main-container">
  <div class="history-container">
    <div class="history-wrap">
      <div class="history-div">
        <div class="menu-list-container">
          <div class="my-page">
            <a th:href="@{|/member/myPage/${member.id}|}">
              <span class="item">마이페이지</span>
            </a>
          </div>
          <div class="update-form">
            <a th:href="@{|/member/update-form/${member.id}|}">
              <span class="item">회원정보수정</span>
            </a>
          </div>
          <div class="get-point">
            <a th:href="@{|/member/purchase-point/${member.id}|}">
              <span class="item">포인트 충전</span>
            </a>
          </div>
          <div class="point-purchase-history">
            <a th:href="@{|/point/point-history/purchase/${member.id}|}">
              <span class="item">포인트 충전내역</span>
            </a>
          </div>
          <div class="point-history">
            <a th:href="@{|/point/point-history/use/${member.id}|}">
              <span class="item selected-item">포인트 이용내역</span>
            </a>
          </div>
          <div class="request-author">
            <a onclick="requestAuthor()">
              <span class="item">작가 신청</span>
            </a>
          </div>
          <div class="delete-member">
            <a href="#">
              <span class="item">회원탈퇴</span>
            </a>
          </div>
        </div>
        <div class="history-detail-container">
          <div class="history-title-wrap">
            <h5 class="title">포인트 이용내역</h5>
          </div>
          <div class="history-detail-wrap">
            <div class="history-detail-wrapper">
              <div class="table-wrap">
                <table class="history-table">
                  <tr>
                    <th>#</th>
                    <th>책 제목</th>
                    <th>회차 제목</th>
                    <th>구매일자</th>
                    <th>구매 가격</th>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>물휴지</td>
                    <td>물휴지 1화</td>
                    <td>2022-05-05</td>
                    <td>100 포인트</td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td>비와 구름</td>
                    <td>비와 구름 10화</td>
                    <td>2022-03-24</td>
                    <td>100 포인트</td>
                  </tr>
                  <tr>
                    <td>3</td>
                    <td>문제가 산적</td>
                    <td>문제가 산적 276화</td>
                    <td>2021-11-17</td>
                    <td>100 포인트</td>
                  </tr>
                </table>
              </div>
              <div class="total-amount">
                <div class="title">총 구매 금액</div>
                <div class="detail history-detail-amount">300 포인트</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<th:block th:replace="layout/footer :: footer"></th:block>
</body>
</html>