<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>신비한 서재입니다.</title>

  <link rel="stylesheet" th:href="@{/css/member/set-password.css}">
<body>
<th:block th:replace="layout/header :: header"></th:block>

<main class="main-container">
  <div class="content-container">
    <div class="title-wrap">
      <h5 class="title">비밀번호 설정</h5>
    </div>
    <div class="input-wrap">
      <div class="label-pw-wrap">
        <label class="label-pw">비밀번호</label>
      </div>
      <div class="input-pw-wrap">
        <input type="password" name="memberPassword" class="input-pw" placeholder="********">
      </div>
      <div class="result-pw-wrap">
        <span class="span-pw" id="result-pw">비밀번호도 입력해보세요</span>
      </div>
    </div>
    <div class="input-wrap">
      <div class="label-pw-again-wrap">
        <label class="label-pw-again">비밀번호 재확인</label>
      </div>
      <div class="input-pw-again-wrap">
        <input type="password" class="input-pw-again" placeholder="********">
      </div>
      <div class="result-pw-again-wrap">
        <span class="span-pw-again" id="result-pw-again">비밀번호 확인하세요</span>
      </div>
    </div>
    <div class="btn-wrap">
      <button type="button" class="submit-btn">설정하기</button>
    </div>
  </div>
</main>

<th:block th:replace="layout/footer :: footer"></th:block>
</body>
</html>