<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>신비한 서재입니다.</title>

  <link rel="stylesheet" th:href="@{/css/member/update.css}">
  <script th:src="@{/js/requestAuthor.js}"></script>
</head>
<body>
<th:block th:replace="layout/header :: header"></th:block>

<main class="main-container">
  <div class="update-container">
    <div class="update-wrap">
      <div class="update-div">
        <div class="menu-list-container">
          <div class="my-page">
            <a th:href="@{|/member/myPage/${member.id}|}">
              <span class="item">마이페이지</span>
            </a>
          </div>
          <div class="update-form">
            <a th:href="@{|/member/update-form/${member.id}|}">
              <span class="item selected-item">회원정보수정</span>
            </a>
          </div>
          <div class="get-point">
            <a th:href="@{|/member/purchase-point/${member.id}|}">
              <span class="item">포인트 충전</span>
            </a>
          </div>
          <div class="point-purchase-history">
            <a th:href="@{|/point/point-history/purchase/${member.id}|}">
              <span class="item">포인트 충전내역</span>
            </a>
          </div>
          <div class="point-history">
            <a th:href="@{|/point/point-history/use/${member.id}|}">
              <span class="item">포인트 이용내역</span>
            </a>
          </div>
          <div class="request-author">
            <a onclick="requestAuthor()">
              <span class="item">작가 신청</span>
            </a>
          </div>
          <div class="delete-member">
            <a th:href="@{|/member/delete/${member.id}|}">
              <span class="item">회원탈퇴</span>
            </a>
          </div>
        </div>
        <div class="member-container">
          <div class="member-title-wrap">
            <h5 class="title">회원정보 수정</h5>
          </div>
          <div class="member-detail-wrap">
            <form class="form-for-update" action="/member/update" method="post" enctype="multipart/form-data"
                  name="memberUpdateForm">
              <input type="hidden" th:name="_csrf" th:value="${_csrf.token}"/>
              <input type="hidden" name="id" th:value="${member.id}">
              <div class="input-wrap">
                <div class="label-wrap">
                  <label class="label-id no-type">아이디</label>
                </div>
                <div class="input-wrapper">
                  <input type="text" class="input-id" name="loginId" th:value="${member.loginId}" readonly>
                </div>
              </div>
              <div class="input-wrap">
                <div class="label-wrap">
                  <label class="label-name no-type">닉네임</label>
                </div>
                <div class="input-wrapper">
                  <input type="text" id="new-name" class="input-name" name="memberName" th:value="${member.memberName}"
                         required>
                </div>
              </div>
              <div class="input-wrap">
                <div class="label-wrap">
                  <label class="label-name no-type">비밀번호</label>
                </div>
                <div class="input-wrapper">
                  <input type="text" class="input-name" name="memberPassword" id="update-member-password"
                         placeholder="변경할 비밀번호">
                </div>
              </div>
              <div class="input-wrap">
                <div class="label-wrap">
                  <label class="label-name no-type">비밀번호 확인</label>
                </div>
                <div class="input-wrapper">
                  <input type="text" class="input-name" id="update-member-password2">
                </div>
              </div>
              <div class="input-wrap">
                <div class="label-wrap">
                  <label class="label-email no-type">이메일</label>
                </div>
                <div class="input-wrapper">
                  <input type="text" class="input-email" name="memberEmail" th:value="${member.memberEmail}" readonly>
                </div>
              </div>
              <div class="input-wrap">
                <div class="label-wrap">
                  <label class="label-intro no-type">소개글</label>
                </div>
                <div class="input-wrapper">
                  <textarea maxlength="500" name="introduction" th:text="${member.introduction}" onkeyup="resize(this)"
                            class="input-intro"></textarea>
                </div>
              </div>
              <div class="input-wrap">
                <div class="label-wrap">
                  <label class="label-image">프로필</label>
                </div>
                <div class="input-wrapper">
                  <input type="file" class="input-image" name="memberImg">
                  <input type="hidden" name="memberImgName" th:value="${member.memberImgName}">
                </div>
              </div>
              <div class="input-wrap">
                <div class="label-wrap">
                  <label class="label-instagram">인스타그램</label>
                </div>
                <div class="input-wrapper">
                  <input type="text" class="input-instagram" name="instagramAddress"
                         th:value="${member.instagramAddress}">
                </div>
              </div>
              <div class="input-wrap">
                <div class="label-wrap">
                  <label class="label-instagram">트위터</label>
                </div>
                <div class="input-wrapper">
                  <input type="text" class="input-twitter" name="twitterAddress" th:value="${member.twitterAddress}">
                </div>
              </div>
              <div class="input-wrap">
                <div class="label-wrap">
                  <label class="label-instagram">페이스북</label>
                </div>
                <div class="input-wrapper">
                  <input type="text" class="input-facebook" name="facebookAddress" th:value="${member.facebookAddress}">
                </div>
              </div>
              <div class="btn-wrap">
                <div class="update-btn-wrap">
                  <button type="button" class="update-btn" onclick="updateMember()">수정</button>
                </div>
                <div class="cancel-btn-wrap">
                  <button type="button" onclick="goBack()" class="cancel-btn">취소</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<th:block th:replace="layout/footer :: footer"></th:block>
</body>
<script th:inline="javascript">
    const resize = (obj) => {
        obj.style.height = '9.3rem';
        obj.style.height = (12 + obj.scrollHeight) + 'px';
    }
    const id = [[${member.id}]];

    const updateMember = () => {
        const updatePassword = document.getElementById("update-member-password").value;
        const updatePassword2 = document.getElementById("update-member-password2").value;

        if (updatePassword.length != 0 && updatePassword2.length != 0) {
            if (updatePassword == updatePassword2) {
                nameDupCheck();
            }
        } else {
            nameDupCheck();
        }
    }

    const nameDupCheck = () => {
        let header = $("meta[name='_csrf_header']").attr('content');
        let token = $("meta[name='_csrf']").attr('content');

        const newName = document.getElementById("new-name").value;
        if (newName != [[${member.memberName}]]) {
            $.ajax({
                type: "post",
                url: "/member/name-dup-check",
                data: {"memberName": newName},
                dataType: "text",
                beforeSend: function (xhr) {
                    xhr.setRequestHeader(header, token);
                },
                success: function (result) {
                    if (result == "ok") {
                        Swal.fire('정보수정이 완료되었습니다.').then((result) => {
                            if (result.isConfirmed) {
                                setTimeout(function () {
                                    memberUpdateForm.submit();
                                }, 500);
                            }
                        });
                    } else {
                        Swal.fire({
                            icon: 'error',
                            text: '이미 사용중인 닉네임입니다.',
                            showConfirmButton: "확인"
                        });
                    }
                }
            });
        } else {
            Swal.fire('정보수정이 완료되었습니다.').then((result) => {
                if (result.isConfirmed) {
                    setTimeout(function () {
                        memberUpdateForm.submit();
                    }, 500);
                }
            });
        }
    }

        const role = [[${member.role}]];
</script>
</html>