<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <title>신비한 서재입니다.</title>
</head>
<body>
<table>
  <tr>
    <th>사진</th>
    <th>글번호</th>
    <th>제목</th>
    <th>작성시간</th>
    <th>내용</th>
    <th>수정</th>
    <th>삭제</th>
    <th>좋아요</th>
  </tr>
  <tr>
    <td><img th:src="@{|/upload/${debut.getDebutImgName()}|}" width="100" height="100"> </td>
    <td th:text="${debut.getId()}"></td>
    <td th:text="${debut.getDebutTitle()}"></td>
    <td th:text="${debut.getCreatedTime()}"></td>
    <td th:text="${debut.getDebutContents()}"></td>
    <td th:text="${debut.getDebutContents()}"></td>
    <td><a th:href="@{|/debut/update-Form/${debut.id}|}">수정</a></td>
    <td><a th:href="@{|/debut/delete/${debut.id}|}">삭제</a></td>

    <i class="bi bi-heart" id="emptyHeart" th:value="1" onclick="heartCheck()"></i>
    <i class="bi bi-heart-fill" th:value="2" id="fullHeart"ontoggle="heartCheck()" ></i>
  </tr>
</table>
<script th:inline="javascript">
  function heartCheck() {
    const love = document.getElementById("emptyHeart").value;
    const hate = document.getElementById("fullHeart").value;
    const id = [[${debut.memberId}]];
    $.ajax({

    })


  }

</script>
</body>
</html>