<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <!-- CSS only -->

    <link th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css}" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script th:src="@{/js/jquery.js}"></script>
    <title>신비한 서재입니다.</title>
</head>
<body>
<table>
    <tr>
        <th>사진</th>
        <th>글번호</th>
        <th>제목</th>
        <th>작성시간</th>
        <th>내용</th>
        <th>수정</th>
        <th>삭제</th>
        <th>좋아요</th>
    </tr>
    <tr>
        <td><img th:src="@{|/upload/${debut.debutImgName}|}" width="100" height="100"></td>
        <td th:text="${debut.id}"></td>
        <td th:text="${debut.debutTitle}"></td>
        <td th:text="${debut.createdTime}"></td>
        <td th:text="${debut.debutContents}"></td>
        <td><a th:href="@{|/debut/update-Form/${debut.id}|}">수정</a></td>
        <td><a th:href="@{|/debut/delete/${debut.id}|}">삭제</a></td>
        <img th:src="@{/icon/heart.svg}" id="emptyHeart" onclick="heartCheck(1)">
        <img th:src="@{/icon/heart-fill.svg}" id="fullHeart" onclick="heartCheck(0)">
    </tr>

</table>

</form>

<input type="text" id="debutId" th:value="${debut.id}" hidden>
<input type="text" id="memberId" th:value="${session.id}" hidden>
<input type="text" id="memberName" th:value="${session.name}" readonly>
<input type="text" id="contents">
<input type="button" onclick="commentSave()" value="댓글작성">
<div id="commentList">
    <table>
        <tr>

            <th>작성자</th>
            <th>내용</th>
            <th>작성시간</th>
            <th>수정</th>
            <th>삭제</th>

        </tr>


        <tr th:each="comment: ${commentList}">
            <td th:id="'id_'+ ${comment.id}" th:text="${comment.id}" hidden></td>
            <td th:id="'memberName_'+${comment.id}" th:text="${comment.memberName}"></td>
            <td th:id="'contents_'+${comment.id}" th:text="${comment.contents}"></td>
            <td th:id="'craetedTime_'+${comment.id}" th:text="${comment.createdTime}"></td>
            <div th:if="${comment.memberName}==${session.name}">
                <td><input type="button" value="댓글수정" th:onclick="commentUpdateForm([[${comment.id}]])"></td>
                <td><input type="button" value="댓글삭제" th:onclick="commentDelete([[${comment.id}]])"></td>
            </div>
        </tr>
    </table>
</div>


<script th:inline="javascript">

    function heartCheck(num) {
        const love = document.getElementById("emptyHeart");
        const hate = document.getElementById("fullHeart");
        const memberId = [[${debut.memberId}]];
        const id = [[${debut.id}]];
        if (num == 1) {
            $.ajax({
                type: "get",
                url: "/debut/love/" + id,
                data: {"memberId": memberId, "num": num},
                dataType: "text",
                success: function (result) {
                    love.className = "bi bi-heart-fill";
                }

            });
        } else {
            $.ajax({
                type: "get",
                url: "/debut/love/" + id,
                data: {"memberId": memberId, "num": num},
                dataType: "text",
                success: function (result) {
                    hate.className = "bi bi-heart";
                }

            });
        }

    }

    function commentSave() {
        const memberId = document.getElementById("memberId").value;
        const debutId = document.getElementById("debutId").value;
        const contents = document.getElementById("contents").value;
        const memberName = document.getElementById("memberName").value;
        const commentList = document.getElementById("commentList");

        $.ajax({
            type: "post",
            url: "/debutComment/save",
            data: {"memberId": memberId, "debutId": debutId, "contents": contents, "memberName": memberName},
            dataType: "json",
            success: function (result) {
                let output = "<table>\n" +
                    "      <tr>\n" +
                    "        <th>작성자</th>\n" +
                    "        <th>내용</th>\n" +
                    "        <th>작성시간</th>\n" +
                    "         <th>삭제</th>" +

                    "      </tr>\n";
                for (let i in result) {
                    output += "<tr>" +
                        "    <td>" + result[i].memberName + "</td>\n" +
                        "    <td>" + result[i].contents + "</td>\n" +
                        "    <td>" + result[i].createdTime + "</td>\n";
                    if (result[i].memberName == memberName) {
                        output += "<div>\n" +
                            "<td><input type=\"button\" value=\"댓글수정\" onclick=\"commentUpdateForm(" + result[i].id + "{})\"></td>" +
                            "      <td><input type=\"button\" value=\"댓글삭제\" onclick=\"commentDelete(" + result[i].id + ")\"></td>\n" +
                            "      </div>" +
                            "</tr>";
                    }
                }
                output += "    </table>";

                commentList.innerHTML = output;
                document.getElementById("contents").innerHTML = "";
            }
        });


    }

    function commentUpdateForm(id) {
        const commentList = document.getElementById("commentList");

        const memberName = document.getElementById("memberName_"+id).innerHTML;
        const contents = document.getElementById("contents_"+id).innerHTML;
        commentList.innerHTML = "<input id='updateMemberName' type=\"text\" value=\"" + memberName + "\"readonly>\n" +
            "      <input id=\"updateContents\" type=\"text\" value=\"" + contents + "\">\n" +
            "      <input value='댓글수정' type=\"button\" onclick=\"commentUpdate(" + id + ")\">";

    }

    function commentUpdate(id) {
        const memberName = document.getElementById("updateMemberName").value;
        const contents = document.getElementById("updateContents").value;
        const commentList = document.getElementById("commentList");
        const debutId = document.getElementById("debutId").value;
        const memberId = document.getElementById("memberId").value;
        $.ajax({
            type: "put",
            url: "/debutComment/update",
            data: {"id": id, "memberName": memberName, "contents": contents, "debutId": debutId, "memberId": memberId},
            dataType: "json",
            success: function (result) {
                let output = "<table>\n" +
                    "      <tr>\n" +
                    "        <th>작성자</th>\n" +
                    "        <th>내용</th>\n" +
                    "        <th>작성시간</th>\n" +
                    "         <th>삭제</th>" +

                    "      </tr>\n";
                for (let i in result) {
                    output += "<tr>" +
                        "    <td>" + result[i].memberName + "</td>\n" +
                        "    <td>" + result[i].contents + "</td>\n" +
                        "    <td>" + result[i].createdTime + "</td>\n";
                        console.log(result[i].createdTime);
                    if (result[i].memberName == memberName) {
                        output += "<div>\n" +
                            "<td><input type=\"button\" value=\"댓글수정\" onclick=\"commentUpdateForm(" + result[i].id + ")\"></td>" +
                            "      <td><input type=\"button\" value=\"댓글삭제\" onclick=\"commentDelete(" + result[i].id + ")\"></td>\n" +
                            "      </div>" +
                            "</tr>";
                    }
                }
                output += "    </table>";

                commentList.innerHTML = output;
                document.getElementById("contents").innerHTML = "";
            }
        });

    }

    function commentDelete(commentId) {
        const memberName = document.getElementById("memberName").value;
        const commentList = document.getElementById("commentList");
        const debutId = document.getElementById("debutId").value;
        $.ajax({
            type: "delete",
            url: "/debutComment/delete",
            data: {"commentId": commentId, "debutId": debutId},
            dataType: "json",
            success: function (result) {
                let output = "<table>\n" +
                    "      <tr>\n" +
                    "        <th>작성자</th>\n" +
                    "        <th>내용</th>\n" +
                    "        <th>작성시간</th>\n" +
                    "         <th>삭제</th>" +

                    "      </tr>\n";
                for (let i in result) {
                    output += "<tr>" +
                        "    <td>" + result[i].memberName + "</td>\n" +
                        "    <td>" + result[i].contents + "</td>\n" +
                        "    <td>" + result[i].createdTime + "</td>\n";
                    if (result[i].memberName == memberName) {
                        output += "<div>\n" +
                            "<td><input type=\"button\" value=\"댓글수정\" onclick=\"commentUpdateForm(" + result[i].id + ")\"></td>" +
                            "      <td><input type=\"button\" value=\"댓글삭제\" onclick=\"commentDelete(" + result[i].id + ")\"></td>\n" +
                            "      </div>" +
                            "</tr>";
                    }
                }
                output += "    </table>";

                commentList.innerHTML = output;
                document.getElementById("contents").innerHTML = "";
            }
        });


    }
</script>
</body>
</html>