<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- CSS only -->
  <!-- CSS only -->

  <link th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css}" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <script th:src="@{/js/jquery.js}"></script>
  <title>신비한 서재입니다.</title>
</head>
<body>
<table>
  <tr>
    <th>사진</th>
    <th>글번호</th>
    <th>제목</th>
    <th>작성시간</th>
    <th>내용</th>
    <th>수정</th>
    <th>삭제</th>
    <th>좋아요</th>
  </tr>
  <tr>
    <td><img th:src="@{|/upload/${debut.debutImgName}|}" width="100" height="100"> </td>
    <td th:text="${debut.id}"></td>
    <td th:text="${debut.debutTitle}"></td>
    <td th:text="${debut.createdTime}"></td>
    <td th:text="${debut.debutContents}"></td>
    <td><a th:href="@{|/debut/update-Form/${debut.id}|}">수정</a></td>
    <td><a th:href="@{|/debut/delete/${debut.id}|}">삭제</a></td>
    <img th:src="@{/icon/heart.svg}" id="emptyHeart" onclick="heartCheck(1)">
    <img th:src="@{/icon/heart-fill.svg}" id="fullHeart" onclick="heartCheck(0)">
  </tr>
  <tr>
    <form action="/debutComment/save" method="post">
      <input type="text" id="debutId" th:value="${debut.id}" hidden>
      <input type="text" id="memberId" th:value="${debut.memberId}" hidden>
      <input type="text" id="memberName" th:value="${debut.memberName}"readonly>
      <input type="text" id="contents">
      <input type="button" onclick="commentSave()" value="댓글작성">
    </form>
  </tr>
</table>
<script th:inline="javascript">
  function heartCheck(num) {
    const love = document.getElementById("emptyHeart");
    const hate = document.getElementById("fullHeart");
    const memberId = [[${debut.memberId}]];
    const id= [[${debut.id}]];
    if (num==1) {
      $.ajax({
        type: "get",
        url: "/debut/love/" + id,
        data: {"memberId": memberId,"num":num},
        dataType: "text",
        success: function (result) {
            love.className="bi bi-heart-fill";
        }

      });
    }else {
      $.ajax({
        type: "get",
        url: "/debut/love/" + id,
        data: {"memberId": memberId, "num":num},
        dataType: "text",
        success: function (result) {
            hate.className="bi bi-heart";
        }

      });
    }


  }
  function commentSave(){
    const memberId = document.getElementById("memberId").value;
    const debutId = document.getElementById("debutId").value;
    const contents = document.getElementById("contents").value;
    const memberName = document.getElementById("memberName").value;
    $.ajax({
      type:"post",
      url:"/debutComment/save",
      data:{"memberId":memberId,"debutId":debutId,"contents":contents,"memberName":memberName}
      dataType:"json",
      success:function (result){

      }
    });

  }
</script>
</body>
</html>