<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>신비한 서재입니다.</title>
</head>
<body>
<th:block th:replace="layout/header :: header"></th:block>

<form action="/debut/update" method="post" enctype="multipart/form-data">
  <select name="categoryId" th:value="${debut.categoryId}">
    <option value="1">시</option><br>
    <option value="2">에세이</option><br>
    <option value="3">웹소설</option><br>
    <input type="text" name="id" th:value="${debut.id}" hidden><br>
    <input type="text" name="memberId" th:value="${debut.memberId}" hidden><br>
    <input type="text" name="memberName" th:value="${debut.memberName}" hidden>
    <input type="text" name="debutTitle" th:value="${debut.debutTitle}"><br>
    <textarea th:text="${debut.debutContents}" name="debutContents"  cols="30" rows="10"></textarea><br>
    <textarea th:text="${debut.introduce}" name="introduce"  cols="30" rows="10"></textarea><br>
    <input type="text" name="feat" th:value="${debut.feat}"><br>
    <input type="file" name="debutImg"><br>
    <input type="text" name="love" th:value="${debut.love}"hidden><br>
    <input type="submit" value="글저장">
  </select>
</form>

<th:block th:replace="layout/footer :: footer"></th:block>
</body>
</html>