<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>신비한 서재입니다.</title>

  <link rel="apple-touch-icon" sizes="180x180" th:href="@{/icon/apple-touch-icon.png}">
  <link rel="icon" type="image/png" sizes="32x32" th:href="@{/icon/favicon-32x32.png}">
  <link rel="icon" type="image/png" sizes="16x16" th:href="@{/icon/favicon-16x16.png}">
  <link rel="manifest" th:href="@{/icon/site.webmanifest}">

  <link rel="stylesheet" th:href="@{/css/book/genre.css}">
</head>
<body>
<th:block th:replace="layout/header :: header"></th:block>

<div class="category-div">
  <div class="category-container">
    <ul class="category-ul dropdown">
      <li class="category-wrap">
        <a href="/" class="category">홈</a>
      </li>
      <li class="category-wrap">
        <a href="javascript:;" class="category dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">웹소설</a>
        <ul class="dropdown-menu">
          <li><a th:href="@{/book/category?categoryId=1}" class="dropdown-item">웹소설 메인</a></li>
          <li><a th:href="@{|/book/genre?genreId=1&alignmentId=0|}" class="dropdown-item">판타지</a></li>
          <li><a th:href="@{|/book/genre?genreId=2&alignmentId=0|}" class="dropdown-item">현대판타지</a></li>
          <li><a th:href="@{|/book/genre?genreId=3&alignmentId=0|}" class="dropdown-item">로맨스</a></li>
          <li><a th:href="@{|/book/genre?genreId=4&alignmentId=0|}" class="dropdown-item">로맨스판타지</a></li>
          <li><a th:href="@{|/book/genre?genreId=5&alignmentId=0|}" class="dropdown-item">무협</a></li>
        </ul>
      </li>
      <li class="category-wrap">
        <a href="javascript:;" class="category dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">시</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" th:href="@{|/book/genre?genreId=6&alignmentId=0|}">시 메인</a></li>
        </ul>
      </li>
      <li class="category-wrap">
        <a href="javascript:;" class="category dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">에세이</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" th:href="@{|/book/genre?genreId=7&alignmentId=0|}">에세이 메인</a></li>
        </ul>
      </li>
      <li class="category-wrap">
        <a href="javascript:;" class="category category-focus dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">데뷔글</a>
        <ul class="dropdown-menu">
          <li><a th:href="@{/debut/main/0}" class="dropdown-item">데뷔글 메인</a></li>
          <li><a th:href="@{/debut/poem/1/0}" class="dropdown-item">시</a></li>
          <li><a th:href="@{/debut/essay/2/0}" class="dropdown-item">에세이</a></li>
          <li><a th:href="@{/debut/web/3/0}" class="dropdown-item">웹소설</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>

<main class="main-container">
  <div class="genre-list-container">
    <div class="genre-list-title-container">
      <div class="genre-list-title-wrap">
        <div class="genre-list-title-text">
          <span class="genre-list-title">웹소설</span>
        </div>
        <div class="order-btn-wrap">
          <a th:href="@{/debut/web/3/1}" class="order-btn">최신순</a>
          <a th:href="@{/debut/web/3/2}" class="order-btn">조회순</a>
          <a th:href="@{/debut/web/3/3}" class="order-btn">관심순</a>
        </div>
      </div>
    </div>
    <div class="book-list-container">
      <div class="series-list">
        <div class="book-wrap" th:each="web:${webList}">
          <div class="img-wrap">
            <a th:href="@{|/debut/detail/${web.id}|}">
              <img th:src="@{|/upload/${web.debutImgName}|}" class="img" alt="">
            </a>
          </div>
          <div class="detail-wrap">
            <div class="title-wrap">
              <h5 class="title" th:text="${web.debutTitle}"></h5>
            </div>
            <div class="author-wrap">
              <a th:href="@{|/member/myPage/${web.memberId}|}" class="author-link">
                <span class="author" th:text="${web.memberName}">작가</span>
              </a>
              <svg xmlns="http://www.w3.org/2000/svg" width="1.2rem" height="1.2rem" fill="currentColor" class="bi bi-eye eye-icon" viewBox="0 0 16 16">
                <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
                <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
              </svg>
              <span class="hits" th:text="${web.debutHits}"></span>
              <svg xmlns="http://www.w3.org/2000/svg" width="1.2rem" height="1.2rem" fill="currentColor" class="bi bi-heart heart-icon" viewBox="0 0 16 16">
                <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
              </svg>
              <span class="heart" th:text="${web.love}"></span>
            </div>
            <div class="intro-wrap">
              <span class="intro" th:text="${web.introduce}"></span>
            </div>
            <div class="tag-wrap">
              <span class="tag novel">웹소설</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<th:block th:replace="layout/footer :: footer"></th:block>
</body>
</html>