
/* 카테고리 드롭다운 */
.dropdown-toggle::after {display: none !important; border: none !important;}
.dropdown-menu > li {font-size: 16px; font-weight: 500; font-family: inherit; position: relative; display: block; height: 3rem;}

/* 슬라이더 */
.w-100 {height: 25rem !important;}

/* 목록 */
.more-see-btn-wrap {width: 6%;}
.more-see-btn-wrap a {font-size: 1.5rem; color: inherit;}
.more-see-btn-wrap ::after {content: '+'; color: #1e9eff; margin-left: 0.5rem; font-size: 1.5rem; font-weight: 600; margin-bottom: 0.5rem;}