
/* 카테고리 드롭다운 */
.dropdown-toggle::after {display: none !important; border: none !important;}
.dropdown-menu > li {font-size: 16px; font-weight: 500; font-family: inherit; position: relative; display: block; height: 3rem;}

/* 슬라이더 */
.w-100 {height: 25rem !important;}

/* 목록 */
/*.more-see-btn-wrap {width: 6%;}*/
/*.more-see-btn-wrap a {font-size: 1.5rem; color: inherit;}*/
/*.more-see-btn-wrap ::after {content: '+'; color: #1e9eff; margin-left: 0.5rem; font-size: 1.5rem; font-weight: 600; margin-bottom: 0.5rem;}*/
.detail-wrap .star-wrap .eye-icon {padding-top: 2px; margin-right: 0.125rem;}
.detail-wrap .author {color: #1e9eff; cursor: pointer !important;}
.detail-wrap .star-wrap {margin-top: 0.75rem !important;}
.detail-wrap span {margin-right: 1.5rem; cursor: default;}
.save-form-btn {margin-left: auto; position: relative; border: none; outline: none; border-radius: 0.188rem; width: 6rem; height: 140%; color: #faf7eb; background-color: #1e9eff; font-size: 1rem; letter-spacing: 0.013rem; box-shadow: 0 0.125rem 0.313rem #00000026;}
.save-form-btn:hover {border: 1px solid #1e9eff; color: #1e9eff; background-color: #fff; transition: 0.3s ease;}

.book-wrap .detail-wrap .tag-wrap .tag,
.detail-wrap .star-wrap .tag-wrap .tag {padding: 2px; border-radius: 4px; color: #fff; font-size: 0.825rem;}
.book-wrap .detail-wrap .tag-wrap .novel,
.detail-wrap .star-wrap .tag-wrap .novel {background-color: #00bfdd;}
.book-wrap .detail-wrap .tag-wrap .poem,
.detail-wrap .star-wrap .tag-wrap .poem {background-color: #ffca28;}
.book-wrap .detail-wrap .tag-wrap .essay,
.detail-wrap .star-wrap .tag-wrap .essay {background-color: #ff702a;}