@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
/* root */
body {background-color: #eee !important; box-sizing: border-box; border-collapse: collapse;}
/* container */
#wrap a {color: inherit; text-decoration: none; outline: none;}
#wrap {max-width: 1170px; padding: 0 1.875rem 1.875rem 1.875rem; margin: 2.5rem auto 0; }
#wrap > div:not(:last-child) {margin-bottom: 1.875rem;}
#wrap .viewer-container {margin-top: 69px;}
#wrap .viewer-container,
#wrap .comment-container {overflow: hidden; min-width: 540px; max-width: 1170px; background-color: #fff; border: 1px solid #ccc; display: flex; flex-direction: column;}
#wrap .comment-container {overflow: hidden scroll;}
#wrap .comment-container::-webkit-scrollbar {display: none;}
/* head-area */
#wrap .viewer-container .head-area {width: 1117px; height: 70px; vertical-align: middle; display: flex; background-color: #fff; border: 1px solid #ccc; position: fixed; margin: -23px 0 0 -559px; left: 50%; top: 23px; z-index: 2;}
#wrap .viewer-container .head-area .head-wrap {width: 940px; height: 100%; position: relative; z-index: 2; padding: 10px 100px 9px 100px;}
#wrap .viewer-container .logo-wrap .logo {width: 69px; height: 69px; position: absolute; top: 0; left: 0; bottom: 0;}
#wrap .viewer-container .info-wrap .book-title-wrap .book-title {margin: 3px 0 0; font-size: 0.933em; font-weight: 600; color: #555; letter-spacing: 0.03rem;}
#wrap .viewer-container .info-wrap .book-title-wrap .debut-writer {color: #1e9eff;}
#wrap .viewer-container .info-wrap .episode-title-wrap .episode-title {font-weight: 400; font-size: 1.2em; color: #333; float: left; margin: 0; padding-top: 0.2rem; letter-spacing: 0.03rem;}
#wrap .viewer-container .info-wrap .spread-wrap .spread {padding: 0 30px; display: inline-block; position: absolute; right: 0; top: 0; bottom: 0; overflow: visible; margin: 0; border: none; background: none; white-space: nowrap; cursor: pointer; vertical-align: middle; box-sizing: border-box; border-right: 1px solid #ccc;}
#wrap .viewer-container .info-wrap .spread-wrap .spread span {width: 26px; height: 14px; background: url(../../img/icon_arrow.png) no-repeat; font-size: 0; line-height: 0; text-indent: -9999px; vertical-align: middle; display: inline-block;}
#wrap .viewer-container .info-wrap .spread-wrap .spread .active {background-position: 0 -14px;}
#wrap .viewer-container .tool-wrap {width: 200px; height: 70px; padding: 10px 5px 5px 5px; text-align: center; position: relative; vertical-align: middle;}
#wrap .viewer-container .tool-wrap .book-info-wrap,
#wrap .viewer-container .tool-wrap .view-option-wrap {width: 50%; float: left;}
#wrap .viewer-container .tool-wrap a {font-size: 0.933rem;}
#wrap .viewer-container .tool-wrap .icon {width: 100%; height: 23px; margin: 0 0 5px; display: inline-block; text-align: center; overflow: hidden;}
/* viewer */
#wrap .viewer-container .viewer-wrap {background: #fff; overflow: hidden;}
#wrap .viewer-container .viewer::-webkit-scrollbar {display: none;}
#wrap .viewer-container .viewer {padding: 80px 200px; -ms-overflow-style: none; overflow: hidden scroll; position: relative; background-color: #fff; height: 872px; min-width: 570px;}
#wrap .viewer-container .viewer .content {font-size: 16px; pointer-events: none; user-select: none; line-height: 1.4; height: 100%; overflow: hidden;}
#wrap .viewer-container .viewer .content p {text-align: justify; font-size: 16px; text-indent: 0.8em; line-height: 1.7em; margin: 5% 0.2em 5% 0.2em; padding: 0 2px 2px 0; color: #666; word-break: keep-all;}
#wrap .viewer-container .viewer .content * {text-align: justify; text-indent: 0.8em; line-height: 1.7em; margin: 5% 0.2em 5% 0.2em; padding: 0 2px 2px 0; color: #666;}
#wrap .viewer-container .viewer .c-fnt-01 * {font-family: 'Noto Sans KR', sans-serif;}
#wrap .viewer-container .viewer .c-fnt-02 * {font-family: 'Noto Serif KR', serif;}
#wrap .viewer-container .viewer .c-fnt-03 * {font-family: 'Gowun Batang', serif;}
#wrap .viewer-container .viewer .c-fnt-04 * {font-family: 'Nanum Gothic', sans-serif;}
#wrap .viewer-container .viewer .c-fnt-s-01 p {font-size: 12px;}
#wrap .viewer-container .viewer .c-fnt-s-02 p {font-size: 14px;}
#wrap .viewer-container .viewer .c-fnt-s-03 p {font-size: 16px;}
#wrap .viewer-container .viewer .c-fnt-s-04 p {font-size: 18px;}
#wrap .viewer-container .viewer .c-fnt-s-05 p {font-size: 20px;}
#wrap .viewer-container .viewer .c-fnt-h-01 * {line-height: 1.5em;}
#wrap .viewer-container .viewer .c-fnt-h-02 * {line-height: 2em;}
#wrap .viewer-container .viewer .c-fnt-h-03 * {line-height: 2.5em;}
/* viewer-next-button */
#wrap .viewer-container .nav-btn .next-btn {right: 0;}
#wrap .viewer-container .nav-btn .prev-btn {left: 0;}
#wrap .viewer-container .nav-btn .prev-btn strong {right: 0;}
#wrap .viewer-container .nav-btn .prev-btn span {left: -100%;}
#wrap .viewer-container .nav-btn .prev-btn span::before {margin-left: 52px; background-position: 0 0;}
#wrap .viewer-container .nav-btn button {-ms-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; transition: all 0.3s ease-out;}
#wrap .viewer-container .nav-btn button {border: none; background: none; width: 75px; height: 150px; margin: -75px 0 0; position: fixed; top: 50%; overflow: hidden; z-index: 1; cursor: pointer;}
#wrap .viewer-container .nav-btn .next-btn span {right: -100%;}
#wrap .viewer-container .nav-btn button span {-ms-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; transition: all 0.3s ease-out;}
#wrap .viewer-container .nav-btn button span {width: 200%; height: 100%; position: absolute; top: 0; border: 1px solid #e5e5e5; border-radius: 50%; background: #fff; text-align: center; font-size: 0; display: block;}
#wrap .viewer-container .nav-btn .next-btn strong {left: 0;}
#wrap .viewer-container .nav-btn button > strong {-ms-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; transition: all 0.3s ease-out; -ms-transform: scale(0); -webkit-transform: scale(0); transform: scale(0);}
#wrap .viewer-container .nav-btn button > strong {color: #666; margin: -14px 0 0; padding: 0 10px; position: absolute; top: 50%; opacity: 0; font-size: 18px; font-weight: 400; letter-spacing: 3px;}
#wrap .viewer-container .nav-btn .next-btn span:before {margin-right: 52px; background-position: 0 -33px;}
#wrap .viewer-container .nav-btn button span::before {content: ''; width: 17px; height: 33px; margin: 57px 0 0; display: inline-block; background-repeat: no-repeat; background-image: url(../../img/page_nav.png);}
#wrap .viewer-container .nav-btn button:hover span {border-radius: 5px; border-color: #bbb;}
#wrap .viewer-container .nav-btn button:hover {width: 120px;}
#wrap .viewer-container .nav-btn button:hover strong {color: #666; opacity: 1; filter: alpha(opacity=100); -webkit-transform: scale(1); transform: scale(1);}
/* viewer-responsive-web */
@media screen and (max-width:1000px) {#wrap .viewer-container .viewer {padding: 40px 100px;}}
@media screen and (max-width:800px) {#wrap .viewer-container .viewer {padding: 20px 50px;} .book-info-desc, .view-option-desc {font-size: 0.85rem;}}
@media screen and (max-width:696px) {.book-info-desc, .view-option-desc {font-size: 0.8rem;}}
/* content-footer */
#wrap .viewer-container .content-footer {width: 100%; display: flex; border-spacing: 0; border-collapse: collapse; border-top: 1px solid #ccc;}
#wrap .viewer-container .content-footer .rate-wrap {padding: 15px 0; vertical-align: middle; display: flex; flex-direction: row;}
#wrap .viewer-container .content-footer .rate-wrap .rate-desc-wrap {padding-left: 16px;}
#wrap .viewer-container .content-footer .rate-wrap .rate-desc {font-size: 1.25rem; font-weight: 600; padding-right: 16px; cursor: default;}
#wrap .viewer-container .content-footer .rate-wrap .last-star {padding-right: 16px;}
#wrap .viewer-container .content-footer .rate-wrap .star-form > button:not(:last-child) {margin-right: 1rem;}
#wrap .viewer-container .content-footer .star-wrap .love {color: #dd2424; cursor: pointer !important;}
#wrap .viewer-container .content-footer .star-wrap .love:hover {opacity: 0.5; transition: 0.2s ease;}
#wrap .viewer-container .content-footer .rate-wrap .star-btn {color: #1e9eff; outline: none; border: 1px solid #1e9eff; background-color: #fff; width: 6rem; position: relative; padding: 4px; font-size: 0.938rem; box-shadow: 0 0.125rem 0.313rem #00000026;}
#wrap .viewer-container .content-footer .rate-wrap .star-btn:hover {background-color: #1e9eff; color: #fff; transition: 0.3s ease;}
/* 별점 저장 폼 */
.star-form fieldset {display: inline-block; direction: rtl; border: 0;}
.star-form fieldset legend {text-align: left;}
.star-form input[type=radio] {display: none;}
.star-form label {font-size: 1.2em; color: transparent; text-shadow: 0 0 0 #aaa; cursor: default; position: relative;}
.star-form label:hover {text-shadow: 0 0 0 #dd3636;}
.star-form label:hover ~ label {text-shadow: 0 0 0 #dd3636;}
.star-form input[type=radio]:checked ~ label {text-shadow: 0 0 0 #dd3636;}
/* 별점 표시 */
#wrap .viewer-container .content-footer .attention-wrap {padding: 15px 0; vertical-align: middle; margin-left: auto;}
#wrap .viewer-container .content-footer .attention-wrap .star-wrap {padding-right: 16px; margin: 0; display: inline-block;}
#wrap .viewer-container .content-footer .attention-wrap .star-wrap span {font-size: 1.2em; text-shadow: 0 0 0 #aaa; padding-left: 8px; letter-spacing: 0.03rem; cursor: default;}
#wrap .viewer-container .content-footer .attention-wrap .star-wrap .star {color: transparent; text-shadow: 0 0 0 #1e9eff;}
#wrap .viewer-container .content-footer .attention-wrap .star-wrap .star-desc {padding-top: 4px;}
/* move-top-button */
#moveTop.on {opacity: 1; filter: alpha(opacity=100); -ms-transform: scale(1) rotate(0deg); -webkit-transform: scale(1) rotate(0deg); transform: scale(1) rotate(0deg);}
#moveTop {width: 42px; height: 42px; padding: 0 0 0; margin: 0 0 0 610px; border: none; background: #1e9eff; border-radius: 50%; text-align: center; font-size: 0; line-height: 0; position: fixed; left: 50%; bottom: 200px; outline: none; opacity: 0; filter: alpha(opacity=0); -ms-transition: all 0.5s ease-out; -webkit-transition: all 0.5s ease-out; transition: all 0.5s ease-out; -ms-transform: scale(0) rotate(360deg); -webkit-transform: scale(0) rotate(360deg); transform: scale(0) rotate(360deg);}
#moveTop span {width: 11px; height: 6px; margin-left: 1px; display: inline-block; background: url(../../img/icon_arrow_up_s.png) no-repeat; text-indent: -9999px; vertical-align: top; position: relative;}
#moveTop:hover {background-color: #333; border: 1px solid #fff;}
/* 회차 목록 드롭다운 */
.quick-list-nav {height: 0; position: absolute; /* left: -1px; */ width: 852px; right: -1px; top: 50%; z-index: 3; overflow: hidden; opacity: 0; filter: alpha(opacity=0);}
.active-list {height: auto; top: 100%; opacity: 1; transition: all 0.75s ease;}
.quick-list-nav .outer {height: 372px; padding: 25px 10px; border: 1px solid #ccc; background: #fff; box-shadow: inset 0 7px 10px -5px rgb(0 0 0 / 10%); cursor: default;}
.quick-list-nav .outer .inner {overflow: hidden; padding: 0; width: 818px; height: 332px;}
.quick-list-nav .outer .inner .inner-wrap {width: 818px; height: 332px; overflow: hidden scroll; position: relative; cursor: default;}
.quick-list-nav .outer .inner .inner-wrap::-webkit-scrollbar {background-color: #eee; height: 300px; width: 10px;}
.quick-list-nav .outer .inner .inner-wrap::-webkit-scrollbar-thumb {background-color: #ccc; height: 42px;}
.quick-list-nav .outer .inner .inner-wrap .inner-content {padding: 0; width: 804px; top: 0; position: absolute;}
.quick-list-nav .outer .inner .inner-wrap .inner-content .list li {font-size: 1em; line-height: 1;}
.quick-list-nav .outer .inner .inner-wrap .inner-content .list li a {padding: 10px 20px; display: block; color: #666; transition: opacity 0.2s; cursor: pointer; font-size: 1.125em;}
.quick-list-nav .outer .inner .inner-wrap .inner-content .list li a:hover {color: #666; opacity: 0.5; transition: 0.2s ease;}
/* 보기 설정 */
.option-panel {width: 30rem; height: 0; top: 50%; opacity: 0; left: -224px; right: -1px; overflow: hidden; position: absolute; z-index: 3; cursor: default;}
.active-option-list {height: auto; top: 97%; opacity: 1; transition: all 0.75s ease;}
.option-panel .outer {height: 372px; padding: 0 20px; border: 1px solid #ccc; background-color: #fff; box-shadow: inset 0 7px 10px -5px rgb(0 0 0 / 10%);}
.option-panel .outer .option-form {margin: 0; padding: 0;}
.option-panel .outer .option-form fieldset {border: 0 none; vertical-align: middle; margin: 0; padding: 0;}
.option-panel .outer .option-form fieldset legend {position: absolute; overflow: hidden; line-height: 0.01%; font-size: 0.01%; width: 0; height: 0;}
.option-panel .outer .option-form fieldset .items {padding: 22px 10px; text-align: center; margin: 0; color: #666;}
.option-panel .outer .option-form fieldset .items dt {margin: 0 0 20px; font-size: 1.25rem; color: #666; padding: 0; text-align: left;}
.option-panel .outer .option-form fieldset .items .font-family {color: #666; font-weight: 600; display: flex; justify-content: space-between; text-align: center; vertical-align: middle;}
.option-panel .outer .option-form fieldset .items .font-size {color: #666; font-weight: 600; display: flex; justify-content: space-between; text-align: center; vertical-align: middle;}
.option-panel .outer .option-form fieldset .items .line-height {color: #666; font-weight: 600; display: flex; justify-content: space-between; text-align: center; vertical-align: middle; padding: 0 60px; font-size: 1.2rem;}
.option-panel .outer .option-form fieldset .items .font-family .type01 span {font-family: 'Noto Sans KR', sans-serif; /* 기본 */}
.option-panel .outer .option-form fieldset .items .font-family .type02 span {font-family: 'Noto Serif KR', serif;  /* 명조 */}
.option-panel .outer .option-form fieldset .items .font-family .type03 span {font-family: 'Gowun Batang', serif; /* 고운바탕 */}
.option-panel .outer .option-form fieldset .items .font-family .type04 span {font-family: 'Nanum Gothic', sans-serif; /* 나눔고딕 */}
.option-panel .outer .option-form fieldset .items .font-size .size01 {font-size: 12px; padding-top: 5px;}
.option-panel .outer .option-form fieldset .items .font-size .size02 {font-size: 14px; padding-top: 4px;}
.option-panel .outer .option-form fieldset .items .font-size .size03 {font-size: 16px; padding-top: 2px;}
.option-panel .outer .option-form fieldset .items .font-size .size04 {font-size: 18px; padding-top: 1px;}
.option-panel .outer .option-form fieldset .items .font-size .size05 {font-size: 20px;}
.option-panel .outer .option-form fieldset .items .font-family label {width: auto; font-size: 1.1em; padding-left: 20px; padding-right: 20px;}
.option-panel .outer .option-form fieldset .items dd .opt-button {text-align: left; display: inline-block; position: relative; color: #666; cursor: pointer;}
#wrap .viewer-container .tool-wrap .active {color: #ff5757;}
#wrap .viewer-container .view-option-wrap .active {color: #ff5757;}
/* 댓글 */
.comment-container .comment-list-container {padding: 80px 200px; -ms-overflow-style: none; position: relative; background-color: #fff; min-height: 580px; height: 872px;}
/* 댓글 작성 폼 */
.comment-container .comment-list-container .write-wrap {margin-bottom: 35px;}
.comment-container .comment-list-container .write-wrap .info {padding: 0 0 8px;}
.comment-container .comment-list-container .write-wrap .info .c-title {font-weight: 400; font-size: 1.25rem; color: #333;}
.comment-container .comment-list-container .write-wrap #input-contents {width: 100%; padding: 15px 18px; border: 1px solid #ccc; line-height: 1.4; overflow: auto; overflow-x: hidden; background-color: #fff; resize: none; color: #666; vertical-align: middle; letter-spacing: -.3px; word-break: normal; outline: none;}
.comment-container .comment-list-container .write-wrap #input-contents:hover {border-color: #1e9eff;}
.comment-container .comment-list-container .write-wrap #input-contents:focus {border-color: #1e9eff;}
/* 댓글 버튼 */
.comment-container .comment-list-container .write-wrap .btn-wrap {padding: 10px 0; height: 50px;}
.comment-container .comment-list-container .write-wrap .btn-wrap .btn-align-right {float: right; padding: 0; text-align: right; font-size: 13px; color: #999;}
.comment-container .comment-list-container .write-wrap .btn-wrap .btn-align-right .btn-submit {margin-left: 5px; background: #1e9eff; display: inline-block; position: relative; overflow: hidden; padding: 0; border: none; outline: none; white-space: nowrap; cursor: pointer; vertical-align: middle;}
.comment-container .comment-list-container .write-wrap .btn-wrap .btn-align-right .btn-submit span {color: #fff; border: 1px solid #1e9eff; transition: color 0.3s; min-width: 78px; height: 38px; display: block; padding: 0 30px; text-align: center; font-size: 15px; line-height: 36px; position: relative;}
.comment-container .comment-list-container .write-wrap .btn-wrap .btn-align-right .btn-submit:hover span {color: #1e9eff !important; background-color: #fff; border: 1px solid #1e9eff;}
.comment-container .comment-list-container .write-wrap .btn-wrap .btn-align-right .btn-cancel {margin-left: 5px; background: #333; display: inline-block; position: relative; overflow: hidden; padding: 0; border: none; white-space: nowrap; cursor: pointer; vertical-align: middle;}
.comment-container .comment-list-container .write-wrap .btn-wrap .btn-align-right .btn-cancel span {color: #fff; transition: color 0.3s; min-width: 78px; height: 38px; display: block; padding: 0 30px; border: 1px solid #333; text-align: center; font-size: 15px; line-height: 36px; position: relative;}
.comment-container .comment-list-container .write-wrap .btn-wrap .btn-align-right .btn-cancel:hover span {color: #333 !important; background-color: #fff; border: 1px solid #333;}
/* 댓글 리스트 */
.comment-container .comment-list-container .list-wrap {margin-top: 35px; min-height: 400px; display: flex; flex-direction: column;}
.comment-container .comment-list-container .list-wrap .info {padding: 0 0 8px; margin-bottom: 0.25rem;}
.comment-container .comment-list-container .list-wrap .info .list-title {float: left; font-weight: 400; font-size: 1.25em; color: #333; letter-spacing: 0.02rem;}
.comment-container .comment-list-container .list-wrap .comment-list-wrap {border-top: 1px solid #ddd;}
.comment-container .comment-list-container .list-wrap .comment-list-wrap ul {margin: 0; padding: 0; list-style: none;}
.comment-container .comment-list-container .list-wrap .comment-list-wrap li {padding: 13px 19px; border-bottom: 1px solid #ddd;}
.comment-container .comment-list-container .list-wrap .comment-list-wrap .info {padding: 0 0 8px; height: 32px;}
.comment-container .comment-list-container .list-wrap .comment-list-wrap .info .writer-link {color: #666; cursor: pointer; position: relative;}
.comment-container .comment-list-container .list-wrap .comment-list-wrap .info .writer-link:hover {color: #666; opacity: 0.5; transition: 0.3s ease;}
.comment-container .comment-list-container .list-wrap .comment-list-wrap .info .writer-link:link {color: #666;}
.comment-container .comment-list-container .list-wrap .comment-list-wrap .info > div {margin: 0 0 0 -15px; float: left; font-size: 0;}
.comment-container .comment-list-container .list-wrap .comment-list-wrap .info span {padding: 0 15px; font-size: 13px; position: relative; color: #999;}
.comment-container .comment-list-container .list-wrap .comment-list-wrap .info span + span::before {content: ''; width: 1px; height: 13px; margin: -7px 0 0; background: #ddd; position: absolute; left: 0; top: 50%;}
.comment-container .comment-list-container .list-wrap .comment-list-wrap .info a + span::before {content: ''; width: 1px; height: 13px; margin: -7px 0 0; background: #ddd; position: absolute; left: 0; top: 50%;}
.comment-container .comment-list-container .list-wrap .comment-list-wrap .info > div + div {float: right; margin: 0 -15px 0 0;}
.comment-container .comment-list-container .list-wrap .comment-list-wrap .content {padding: 12px 0; font-size: 15px; line-height: 20px; color: #666; word-break: break-all;}
.comment-container .comment-list-container .list-wrap .comment-list-wrap .info .report-btn:hover,
.comment-container .comment-list-container .list-wrap .comment-list-wrap .info .delete-btn:hover,
.comment-container .comment-list-container .list-wrap .comment-list-wrap .info .update-btn:hover {opacity: 0.5; transition: 0.3s ease;}