body {background-color: #eee !important; box-sizing: border-box; border-collapse: collapse;}

#wrap a {color: inherit; text-decoration: none; outline: none;}
#wrap {max-width: 1170px; padding: 0 1.875rem 1.875rem 1.875rem; margin: 2.5rem auto 0; }
#wrap > div:not(:last-child) {margin-bottom: 20px;}
#wrap .viewer-container,
#wrap .comment-container {min-width: 540px; max-width: 1170px; background-color: #fff; border: 1px solid #ccc; display: flex; flex-direction: column;}
/* head-area */
#wrap .viewer-container .head-area {width: 1117px; height: 70px; vertical-align: middle; display: flex; background-color: #fff; border: 1px solid #ccc; position: fixed; margin: -23px 0 0 -559px; left: 50%; top: 23px; z-index: 2;}
#wrap .viewer-container .head-area .head-wrap {width: 940px; height: 100%; position: relative; z-index: 2; padding: 10px 100px 9px 100px;}
#wrap .viewer-container .logo-wrap .logo {width: 69px; height: 69px; position: absolute; top: 0; left: 0; bottom: 0;}
#wrap .viewer-container .info-wrap .book-title-wrap .book-title {margin: 3px 0 0; font-size: 0.933em; font-weight: 600; color: #555; letter-spacing: 0.03rem;}
#wrap .viewer-container .info-wrap .episode-title-wrap .episode-title {font-weight: 400; font-size: 1.2em; color: #333; float: left; margin: 0; padding-top: 0.2rem; letter-spacing: 0.03rem;}
#wrap .viewer-container .info-wrap .spread-wrap .spread {padding: 0 30px; display: inline-block; position: absolute; right: 0; top: 0; bottom: 0; overflow: visible; margin: 0; border: none; background: none; white-space: nowrap; cursor: pointer; vertical-align: middle; box-sizing: border-box; border-right: 1px solid #ccc;}
#wrap .viewer-container .info-wrap .spread-wrap .spread span {width: 26px; height: 14px; background: url(../../img/icon_arrow.png) no-repeat; font-size: 0; line-height: 0; text-indent: -9999px; vertical-align: middle; display: inline-block;}
#wrap .viewer-container .info-wrap .spread-wrap .spread .active {background-position: 0 -14px;}
#wrap .viewer-container .tool-wrap {width: 200px; height: 70px; padding: 10px 5px 5px 5px; text-align: center; position: relative; vertical-align: middle;}
#wrap .viewer-container .tool-wrap .book-info-wrap,
#wrap .viewer-container .tool-wrap .view-option-wrap {width: 50%; float: left;}
#wrap .viewer-container .tool-wrap a {font-size: 0.933rem;}
#wrap .viewer-container .tool-wrap .icon {width: 100%; height: 23px; margin: 0 0 5px; display: inline-block; text-align: center; overflow: hidden;}
/* viewer */
#wrap .viewer-container .viewer-wrap {background: #fff; overflow: hidden;}
#wrap .viewer-container .viewer::-webkit-scrollbar {display: none;}
#wrap .viewer-container .viewer {padding: 80px 200px; -ms-overflow-style: none; overflow: hidden scroll; position: relative; background-color: #fff; height: 800px; min-width: 570px;}
#wrap .viewer-container .viewer .content {font-size: 16px; pointer-events: none; user-select: none; line-height: 1.4; height: 100%; overflow: hidden;}
#wrap .viewer-container .viewer .content p {text-align: justify; font-size: 16px; text-indent: 0.8em; line-height: 1.7em; margin: 5% 0.2em 5% 0.2em; padding: 0 2px 2px 0; color: #666; word-break: keep-all;}
/* viewer-responsive-web */
@media screen and (max-width:1000px) {
  #wrap .viewer-container .viewer {padding: 40px 100px;}
}
@media screen and (max-width:800px) {
  #wrap .viewer-container .viewer {padding: 20px 50px;}
  .book-info-desc, .view-option-desc {font-size: 0.85rem;}
}
@media screen and (max-width:696px) {
  .book-info-desc, .view-option-desc {font-size: 0.8rem;}
}
/* content-footer */
#wrap .viewer-container .content-footer {
  width: 100%;
  display: flex;
  border-spacing: 0;
  border-collapse: collapse;
  border-top: 1px solid #ccc;
}
#wrap .viewer-container .content-footer .rate-wrap {
  padding: 15px 0;
  vertical-align: middle;
  display: flex;
  flex-direction: row;
}
#wrap .viewer-container .content-footer .rate-wrap .rate-desc-wrap {
  padding-left: 16px;
}
#wrap .viewer-container .content-footer .rate-wrap .rate-desc {
  font-size: 1.25rem;
  font-weight: 600;
  padding-right: 16px;
  cursor: default;

}
#wrap .viewer-container .content-footer .rate-wrap .last-star {
  padding-right: 16px;
}
#wrap .viewer-container .content-footer .rate-wrap .star-btn {
  outline: none;
  border: 1px solid #1e9eff;
  background-color: #fff;
  width: 6rem;
  position: relative;
  padding: 4px;
  font-size: 0.938rem;
  border-radius: 4px;
  box-shadow: 0 0.125rem 0.313rem #00000026;
}
#wrap .viewer-container .content-footer .rate-wrap .star-btn:hover {
  opacity: 0.5;
  transition: 0.2s ease;
}
.star-form fieldset {
  display: inline-block;
  direction: rtl;
  border: 0;
}
.star-form fieldset legend {
  text-align: left;
}
.star-form input[type=radio] {
  display: none;
}
.star-form label {
  font-size: 1.2em;
  color: transparent;
  text-shadow: 0 0 0 #aaa;
  cursor: default;
  position: relative;
}
.star-form label:hover {
  text-shadow: 0 0 0 #dd3636;
}
.star-form label:hover ~ label {
  text-shadow: 0 0 0 #dd3636;
}
.star-form input[type=radio]:checked ~ label {
  text-shadow: 0 0 0 #dd3636;
}
#wrap .viewer-container .content-footer .attention-wrap {
  padding: 15px 0;
  vertical-align: middle;
  margin-left: auto;
}
#wrap .viewer-container .content-footer .attention-wrap .star-wrap {
  padding-right: 16px;
  margin: 0;
  display: inline-block;
}
#wrap .viewer-container .content-footer .attention-wrap .star-wrap span {
  font-size: 1.2em;
  text-shadow: 0 0 0 #aaa;
  padding-left: 8px;
  letter-spacing: 0.03rem;
  cursor: default;
}
#wrap .viewer-container .content-footer .attention-wrap .star-wrap .star {
  color: transparent;
  text-shadow: 0 0 0 #1e9eff;
}
#wrap .viewer-container .content-footer .attention-wrap .star-wrap .star-desc {
  padding-top: 4px;
}
/* move-top-button */
#moveTop.on {opacity: 1; filter: alpha(opacity=100); -ms-transform: scale(1) rotate(0deg); -webkit-transform: scale(1) rotate(0deg); transform: scale(1) rotate(0deg);}
#moveTop {width: 42px; height: 42px; padding: 0 0 0; margin: 0 0 0 610px; border: none; background: #1e9eff; border-radius: 50%; text-align: center; font-size: 0; line-height: 0; position: fixed; left: 50%; bottom: 200px; outline: none; opacity: 0; filter: alpha(opacity=0); -ms-transition: all 0.5s ease-out; -webkit-transition: all 0.5s ease-out; transition: all 0.5s ease-out; -ms-transform: scale(0) rotate(360deg); -webkit-transform: scale(0) rotate(360deg); transform: scale(0) rotate(360deg);}
#moveTop span {width: 11px; height: 6px; margin-left: 1px; display: inline-block; background: url(../../img/icon_arrow_up_s.png) no-repeat; text-indent: -9999px; vertical-align: top; position: relative;}

.quick-list-nav {
  height: 0;
  position: absolute;
  /* left: -1px; */
  width: 852px;
  right: -1px;
  top: 50%;
  z-index: 3;
  overflow: hidden;
  opacity: 0;
  filter: alpha(opacity=0);
}
.active-list {
  height: auto;
  top: 100%;
  opacity: 1;
  transition: all 0.75s ease;
}
.quick-list-nav .outer {
  padding: 25px 10px;
  border: 1px solid #ccc;
  background: #fff;
  box-shadow: inset 0 7px 10px -5px rgb(0 0 0 / 10%);
}
.quick-list-nav .outer .inner {
  overflow: hidden;
  padding: 0;
  width: 818px;
  height: 380px;
}
.quick-list-nav .outer .inner .inner-wrap {
  width: 818px;
  height: 380px;
  overflow: hidden scroll;
  position: relative;
  cursor: default;
}
.quick-list-nav .outer .inner .inner-wrap .inner-content {
  padding: 0;
  width: 804px;
  top: 0;
  position: absolute;
}
.quick-list-nav .outer .inner .inner-wrap .inner-content .list li {
  font-size: 1em;
  line-height: 1;
}
.quick-list-nav .outer .inner .inner-wrap .inner-content .list li a {
  padding: 10px 20px;
  display: block;
  color: #666;
  transition: opacity 0.2s;
  cursor: pointer;
  font-size: 1.125em;
}
.quick-list-nav .outer .inner .inner-wrap .inner-content .list li a:hover {
  color: #666;
  opacity: 0.5;
  transition: 0.2s ease;
}