<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>신비한 서재입니다.</title>

  <link rel="stylesheet" th:href="@{/css/index.css}">
</head>
<body>
<th:block th:replace="layout/header :: header"></th:block>

<!-- 카테고리 a 태그 안먹는거 수정하세요.. -->
<!-- 카테고리 a 태그 안먹는거 수정하세요.. -->
<!-- 카테고리 a 태그 안먹는거 수정하세요.. -->
<!-- 카테고리 a 태그 안먹는거 수정하세요.. -->

<div class="category-div">
  <div class="category-container">
    <ul class="category-ul dropdown">
      <li class="category-wrap">
        <a href="/" class="category">홈</a>
      </li>
      <li class="category-wrap">
        <a href="/book/book-save-form" class="category category-focus dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">웹소설</a>
        <ul class="dropdown-menu">
          <li><a href="#" class="dropdown-item">판타지</a></li>
          <li><a href="#" class="dropdown-item">현대판타지</a></li>
          <li><a href="#" class="dropdown-item">로맨스</a></li>
          <li><a href="#" class="dropdown-item">로맨스판타지</a></li>
          <li><a href="#" class="dropdown-item">무협</a></li>
        </ul>
      </li>
      <li class="category-wrap">
        <a href="/book/category" class="category dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">시</a>
        <ul class="dropdown-menu">
          <li><a href="#" class="dropdown-item">판타지</a></li>
          <li><a href="#" class="dropdown-item">현대판타지</a></li>
          <li><a href="#" class="dropdown-item">로맨스</a></li>
          <li><a href="#" class="dropdown-item">로맨스판타지</a></li>
          <li><a href="#" class="dropdown-item">무협</a></li>
        </ul>
      </li>
      <li class="category-wrap">
        <a href="#" class="category dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">에세이</a>
        <ul class="dropdown-menu">
          <li><a href="#" class="dropdown-item">판타지</a></li>
          <li><a href="#" class="dropdown-item">현대판타지</a></li>
          <li><a href="#" class="dropdown-item">로맨스</a></li>
          <li><a href="#" class="dropdown-item">로맨스판타지</a></li>
          <li><a href="#" class="dropdown-item">무협</a></li>
        </ul>
      </li>
      <li class="category-wrap">
        <a href="/debut/save-form" class="category dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">데뷔글</a>
        <ul class="dropdown-menu">
          <li><a href="#" class="dropdown-item">판타지</a></li>
          <li><a href="#" class="dropdown-item">현대판타지</a></li>
          <li><a href="#" class="dropdown-item">로맨스</a></li>
          <li><a href="#" class="dropdown-item">로맨스판타지</a></li>
          <li><a href="#" class="dropdown-item">무협</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>

<main class="main-container">
  <div class="slider-div">
    <div class="slider-container">
      <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img th:src="@{/img/slider_img_1.svg}" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img th:src="@{/img/slider_img_2.svg}" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img th:src="@{/img/slider_img_3.svg}" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden"></span>
        </button>
        <button id="move-slider" class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden"></span>
        </button>
      </div>
    </div>
  </div>

  <div class="popular-books-container">
    <div class="popular-books-title-container">
      <div class="popular-books-title-wrap">
        <div class="popular-books-title-text">
          <span class="popular-books-title">인기 작품</span>
        </div>
      </div>
    </div>
    <div class="popular-books-list-container">
      <div class="popular-books-list-wrap">
        <div class="popular-books-list-div">
          <div class="popular-books">
            <div class="rank-wrap">
              <span class="rank">1</span>
            </div>
            <div class="img-wrap">
              <img th:src="@{/img/book_img_1.jpeg}" alt="">
            </div>
            <div class="detail-wrap">
              <div class="title">제목1</div>
              <div class="intro">설명설명설명이길면 어떻게 될까요 그러게요 한번 알아볼까요</div>
              <div class="star-wrap">
                <svg width="1.2em" height="1.2em" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg" aria-label="구매자 평균 별점" class="star-symbol">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M5.5 0l1.812 3.303L11 4.025 8.446 6.759l.459 3.741L5.5 8.903 2.095 10.5l.459-3.74L0 4.002l3.688-.7L5.5 0z" fill="currentColor"></path>
                </svg>
                <span class="star">9.2</span>
              </div>
            </div>
          </div>
          <div class="popular-books">
            <div class="rank-wrap">
              <span class="rank">2</span>
            </div>
            <div class="img-wrap">
              <img th:src="@{/img/book_img_2.jpeg}" alt="">
            </div>
            <div class="detail-wrap">
              <div class="title">제목2</div>
              <div class="intro">설명설명설명이길면 어떻게 될까요 그러게요 한번 알아볼까요</div>
              <div class="star-wrap">
                <svg width="1.2em" height="1.2em" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg" aria-label="구매자 평균 별점" class="star-symbol">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M5.5 0l1.812 3.303L11 4.025 8.446 6.759l.459 3.741L5.5 8.903 2.095 10.5l.459-3.74L0 4.002l3.688-.7L5.5 0z" fill="currentColor"></path>
                </svg>
                <span class="star">8.8</span>
              </div>
            </div>
          </div>
          <div class="popular-books">
            <div class="rank-wrap">
              <span class="rank">3</span>
            </div>
            <div class="img-wrap">
              <img th:src="@{/img/book_img_3.jpg}" alt="">
            </div>
            <div class="detail-wrap">
              <div class="title">제목3</div>
              <div class="intro">설명설명설명이길면 어떻게 될까요 그러게요 한번 알아볼까요</div>
              <div class="star-wrap">
                <svg width="1.2em" height="1.2em" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg" aria-label="구매자 평균 별점" class="star-symbol">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M5.5 0l1.812 3.303L11 4.025 8.446 6.759l.459 3.741L5.5 8.903 2.095 10.5l.459-3.74L0 4.002l3.688-.7L5.5 0z" fill="currentColor"></path>
                </svg>
                <span class="star">8.3</span>
              </div>
            </div>
          </div>
        </div>
        <div class="popular-books-list-div">
          <div class="popular-books">
            <div class="rank-wrap">
              <span class="rank">4</span>
            </div>
            <div class="img-wrap">
              <img th:src="@{/img/book_img_3.jpg}" alt="">
            </div>
            <div class="detail-wrap">
              <div class="title">제목4</div>
              <div class="intro">설명설명설명이길면 어떻게 될까요 그러게요 한번 알아볼까요</div>
              <div class="star-wrap">
                <svg width="1.2em" height="1.2em" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg" aria-label="구매자 평균 별점" class="star-symbol">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M5.5 0l1.812 3.303L11 4.025 8.446 6.759l.459 3.741L5.5 8.903 2.095 10.5l.459-3.74L0 4.002l3.688-.7L5.5 0z" fill="currentColor"></path>
                </svg>
                <span class="star">7.7</span>
              </div>
            </div>
          </div>
          <div class="popular-books">
            <div class="rank-wrap">
              <span class="rank">5</span>
            </div>
            <div class="img-wrap">
              <img th:src="@{/img/book_img_1.jpeg}" alt="">
            </div>
            <div class="detail-wrap">
              <div class="title">제목5</div>
              <div class="intro">설명설명설명이길면 어떻게 될까요 그러게요 한번 알아볼까요</div>
              <div class="star-wrap">
                <svg width="1.2em" height="1.2em" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg" aria-label="구매자 평균 별점" class="star-symbol">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M5.5 0l1.812 3.303L11 4.025 8.446 6.759l.459 3.741L5.5 8.903 2.095 10.5l.459-3.74L0 4.002l3.688-.7L5.5 0z" fill="currentColor"></path>
                </svg>
                <span class="star">8.6</span>
              </div>
            </div>
          </div>
          <div class="popular-books">
            <div class="rank-wrap">
              <span class="rank">6</span>
            </div>
            <div class="img-wrap">
              <img th:src="@{/img/book_img_2.jpeg}" alt="">
            </div>
            <div class="detail-wrap">
              <div class="title">제목6</div>
              <div class="intro">설명설명설명이길면 어떻게 될까요 그러게요 한번 알아볼까요</div>
              <div class="star-wrap">
                <svg width="1.2em" height="1.2em" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg" aria-label="구매자 평균 별점" class="star-symbol">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M5.5 0l1.812 3.303L11 4.025 8.446 6.759l.459 3.741L5.5 8.903 2.095 10.5l.459-3.74L0 4.002l3.688-.7L5.5 0z" fill="currentColor"></path>
                </svg>
                <span class="star">9.4</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="recent-debut-post-container">
    <div class="recent-debut-post-title-container">
      <div class="recent-debut-post-title-wrap">
        <div class="recent-debut-post-title-text">
          <span class="recent-debut-post-title">최신 데뷔글</span>
        </div>
      </div>
    </div>
    <div class="recent-debut-post-list-container">
      <div class="recent-debut-post-list-wrap">
        <div class="recent-debut-post-div">
          <ul class="recent-debut-post-ul">
            <li class="recent-debut-post-li">
              <div class="recent-debut-post">
                <div class="img-wrap">
                  <img th:src="@{/img/book_img_1.jpeg}" class="img" alt="">
                </div>
                <div class="detail-wrap">
                  <span class="title">제목1</span>
                  <span class="author">톰보이1</span>
                  <div class="star-wrap">
                    <svg width="1.2em" height="1.2em" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg" aria-label="구매자 평균 별점" class="star-symbol">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M5.5 0l1.812 3.303L11 4.025 8.446 6.759l.459 3.741L5.5 8.903 2.095 10.5l.459-3.74L0 4.002l3.688-.7L5.5 0z" fill="currentColor"></path>
                    </svg>
                    <span class="star">7.5</span>
                  </div>
                </div>
              </div>
            </li>
            <li class="recent-debut-post-li">
              <div class="recent-debut-post">
                <div class="img-wrap">
                  <img th:src="@{/img/book_img_2.jpeg}" class="img" alt="">
                </div>
                <div class="detail-wrap">
                  <span class="title">제목2</span>
                  <span class="author">톰보이2</span>
                  <div class="star-wrap">
                    <svg width="1.2em" height="1.2em" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg" aria-label="구매자 평균 별점" class="star-symbol">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M5.5 0l1.812 3.303L11 4.025 8.446 6.759l.459 3.741L5.5 8.903 2.095 10.5l.459-3.74L0 4.002l3.688-.7L5.5 0z" fill="currentColor"></path>
                    </svg>
                    <span class="star">9.7</span>
                  </div>
                </div>
              </div>
            </li>
            <li class="recent-debut-post-li">
              <div class="recent-debut-post">
                <div class="img-wrap">
                  <img th:src="@{/img/book_img_3.jpg}" class="img" alt="">
                </div>
                <div class="detail-wrap">
                  <span class="title">제목3</span>
                  <span class="author">톰보이3</span>
                  <div class="star-wrap">
                    <svg width="1.2em" height="1.2em" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg" aria-label="구매자 평균 별점" class="star-symbol">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M5.5 0l1.812 3.303L11 4.025 8.446 6.759l.459 3.741L5.5 8.903 2.095 10.5l.459-3.74L0 4.002l3.688-.7L5.5 0z" fill="currentColor"></path>
                    </svg>
                    <span class="star">6.8</span>
                  </div>
                </div>
              </div>
            </li>
            <li class="recent-debut-post-li">
              <div class="recent-debut-post">
                <div class="img-wrap">
                  <img th:src="@{/img/book_img_1.jpeg}" class="img" alt="">
                </div>
                <div class="detail-wrap">
                  <span class="title">제목4</span>
                  <span class="author">톰보이4</span>
                  <div class="star-wrap">
                    <svg width="1.2em" height="1.2em" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg" aria-label="구매자 평균 별점" class="star-symbol">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M5.5 0l1.812 3.303L11 4.025 8.446 6.759l.459 3.741L5.5 8.903 2.095 10.5l.459-3.74L0 4.002l3.688-.7L5.5 0z" fill="currentColor"></path>
                    </svg>
                    <span class="star">9.1</span>
                  </div>
                </div>
              </div>
            </li>
            <li class="recent-debut-post-li">
              <div class="recent-debut-post">
                <div class="img-wrap">
                  <img th:src="@{/img/book_img_3.jpg}" class="img" alt="">
                </div>
                <div class="detail-wrap">
                  <span class="title">제목5</span>
                  <span class="author">톰보이5</span>
                  <div class="star-wrap">
                    <svg width="1.2em" height="1.2em" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg" aria-label="구매자 평균 별점" class="star-symbol">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M5.5 0l1.812 3.303L11 4.025 8.446 6.759l.459 3.741L5.5 8.903 2.095 10.5l.459-3.74L0 4.002l3.688-.7L5.5 0z" fill="currentColor"></path>
                    </svg>
                    <span class="star">8.4</span>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="recent-completion-container">
    <div class="recent-completion-title-container">
      <div class="recent-completion-title-wrap">
        <div class="recent-completion-title-text">
          <span class="recent-completion-title">최신 완결 작품</span>
        </div>
      </div>
    </div>
    <div class="recent-completion-list-container">
      <div class="recent-completion-list-wrap">
        <div class="recent-completion-div">
          <ul class="recent-completion-ul">
            <li class="recent-completion-li">
              <div class="recent-completion">
                <div class="img-wrap">
                  <img th:src="@{/img/book_img_2.jpeg}" class="img" alt="">
                </div>
                <div class="detail-wrap">
                  <span class="title">제목2</span>
                  <span class="author">톰보이2</span>
                  <div class="star-wrap">
                    <svg width="1.2em" height="1.2em" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg" aria-label="구매자 평균 별점" class="star-symbol">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M5.5 0l1.812 3.303L11 4.025 8.446 6.759l.459 3.741L5.5 8.903 2.095 10.5l.459-3.74L0 4.002l3.688-.7L5.5 0z" fill="currentColor"></path>
                    </svg>
                    <span class="star">8.3</span>
                  </div>
                </div>
              </div>
            </li>
            <li class="recent-completion-li">
              <div class="recent-completion">
                <div class="img-wrap">
                  <img th:src="@{/img/book_img_1.jpeg}" class="img" alt="">
                </div>
                <div class="detail-wrap">
                  <span class="title">제목1</span>
                  <span class="author">톰보이1</span>
                  <div class="star-wrap">
                    <svg width="1.2em" height="1.2em" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg" aria-label="구매자 평균 별점" class="star-symbol">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M5.5 0l1.812 3.303L11 4.025 8.446 6.759l.459 3.741L5.5 8.903 2.095 10.5l.459-3.74L0 4.002l3.688-.7L5.5 0z" fill="currentColor"></path>
                    </svg>
                    <span class="star">9.4</span>
                  </div>
                </div>
              </div>
            </li>
            <li class="recent-completion-li">
              <div class="recent-completion">
                <div class="img-wrap">
                  <img th:src="@{/img/book_img_3.jpg}" class="img" alt="">
                </div>
                <div class="detail-wrap">
                  <span class="title">제목3</span>
                  <span class="author">톰보이3</span>
                  <div class="star-wrap">
                    <svg width="1.2em" height="1.2em" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg" aria-label="구매자 평균 별점" class="star-symbol">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M5.5 0l1.812 3.303L11 4.025 8.446 6.759l.459 3.741L5.5 8.903 2.095 10.5l.459-3.74L0 4.002l3.688-.7L5.5 0z" fill="currentColor"></path>
                    </svg>
                    <span class="star">7.2</span>
                  </div>
                </div>
              </div>
            </li>
            <li class="recent-completion-li">
              <div class="recent-completion">
                <div class="img-wrap">
                  <img th:src="@{/img/book_img_2.jpeg}" class="img" alt="">
                </div>
                <div class="detail-wrap">
                  <span class="title">제목4</span>
                  <span class="author">톰보이4</span>
                  <div class="star-wrap">
                    <svg width="1.2em" height="1.2em" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg" aria-label="구매자 평균 별점" class="star-symbol">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M5.5 0l1.812 3.303L11 4.025 8.446 6.759l.459 3.741L5.5 8.903 2.095 10.5l.459-3.74L0 4.002l3.688-.7L5.5 0z" fill="currentColor"></path>
                    </svg>
                    <span class="star">8.9</span>
                  </div>
                </div>
              </div>
            </li>
            <li class="recent-completion-li">
              <div class="recent-completion">
                <div class="img-wrap">
                  <img th:src="@{/img/book_img_1.jpeg}" class="img" alt="">
                </div>
                <div class="detail-wrap">
                  <span class="title">제목5</span>
                  <span class="author">톰보이5</span>
                  <div class="star-wrap">
                    <svg width="1.2em" height="1.2em" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg" aria-label="구매자 평균 별점" class="star-symbol">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M5.5 0l1.812 3.303L11 4.025 8.446 6.759l.459 3.741L5.5 8.903 2.095 10.5l.459-3.74L0 4.002l3.688-.7L5.5 0z" fill="currentColor"></path>
                    </svg>
                    <span class="star">9.6</span>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="free-popular-books-container">
    <div class="free-popular-books-title-container">
      <div class="free-popular-books-title-wrap">
        <div class="free-popular-books-title-text">
          <span class="free-popular-books-title">무료 인기 작품</span>
        </div>
      </div>
    </div>
    <div class="free-popular-books-list-container">
      <div class="free-popular-books-list-wrap">
        <div class="free-popular-books-list-div">
          <div class="free-popular-books">
            <div class="rank-wrap">
              <span class="rank">1</span>
            </div>
            <div class="img-wrap">
              <img th:src="@{/img/book_img_3.jpg}" alt="">
            </div>
            <div class="detail-wrap">
              <div class="title">제목1</div>
              <div class="intro">설명설명설명이길면 어떻게 될까요 그러게요 한번 알아볼까요</div>
              <div class="star-wrap">
                <svg width="1.2em" height="1.2em" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg" aria-label="구매자 평균 별점" class="star-symbol">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M5.5 0l1.812 3.303L11 4.025 8.446 6.759l.459 3.741L5.5 8.903 2.095 10.5l.459-3.74L0 4.002l3.688-.7L5.5 0z" fill="currentColor"></path>
                </svg>
                <span class="star">9.2</span>
              </div>
            </div>
          </div>
          <div class="free-popular-books">
            <div class="rank-wrap">
              <span class="rank">2</span>
            </div>
            <div class="img-wrap">
              <img th:src="@{/img/book_img_2.jpeg}" alt="">
            </div>
            <div class="detail-wrap">
              <div class="title">제목2</div>
              <div class="intro">설명설명설명이길면 어떻게 될까요 그러게요 한번 알아볼까요</div>
              <div class="star-wrap">
                <svg width="1.2em" height="1.2em" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg" aria-label="구매자 평균 별점" class="star-symbol">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M5.5 0l1.812 3.303L11 4.025 8.446 6.759l.459 3.741L5.5 8.903 2.095 10.5l.459-3.74L0 4.002l3.688-.7L5.5 0z" fill="currentColor"></path>
                </svg>
                <span class="star">8.8</span>
              </div>
            </div>
          </div>
          <div class="free-popular-books">
            <div class="rank-wrap">
              <span class="rank">3</span>
            </div>
            <div class="img-wrap">
              <img th:src="@{/img/book_img_1.jpeg}" alt="">
            </div>
            <div class="detail-wrap">
              <div class="title">제목3</div>
              <div class="intro">설명설명설명이길면 어떻게 될까요 그러게요 한번 알아볼까요</div>
              <div class="star-wrap">
                <svg width="1.2em" height="1.2em" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg" aria-label="구매자 평균 별점" class="star-symbol">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M5.5 0l1.812 3.303L11 4.025 8.446 6.759l.459 3.741L5.5 8.903 2.095 10.5l.459-3.74L0 4.002l3.688-.7L5.5 0z" fill="currentColor"></path>
                </svg>
                <span class="star">8.3</span>
              </div>
            </div>
          </div>
        </div>
        <div class="free-popular-books-list-div">
          <div class="free-popular-books">
            <div class="rank-wrap">
              <span class="rank">4</span>
            </div>
            <div class="img-wrap">
              <img th:src="@{/img/book_img_2.jpeg}" alt="">
            </div>
            <div class="detail-wrap">
              <div class="title">제목4</div>
              <div class="intro">설명설명설명이길면 어떻게 될까요 그러게요 한번 알아볼까요</div>
              <div class="star-wrap">
                <svg width="1.2em" height="1.2em" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg" aria-label="구매자 평균 별점" class="star-symbol">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M5.5 0l1.812 3.303L11 4.025 8.446 6.759l.459 3.741L5.5 8.903 2.095 10.5l.459-3.74L0 4.002l3.688-.7L5.5 0z" fill="currentColor"></path>
                </svg>
                <span class="star">7.7</span>
              </div>
            </div>
          </div>
          <div class="free-popular-books">
            <div class="rank-wrap">
              <span class="rank">5</span>
            </div>
            <div class="img-wrap">
              <img th:src="@{/img/book_img_1.jpeg}" alt="">
            </div>
            <div class="detail-wrap">
              <div class="title">제목5</div>
              <div class="intro">설명설명설명이길면 어떻게 될까요 그러게요 한번 알아볼까요</div>
              <div class="star-wrap">
                <svg width="1.2em" height="1.2em" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg" aria-label="구매자 평균 별점" class="star-symbol">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M5.5 0l1.812 3.303L11 4.025 8.446 6.759l.459 3.741L5.5 8.903 2.095 10.5l.459-3.74L0 4.002l3.688-.7L5.5 0z" fill="currentColor"></path>
                </svg>
                <span class="star">8.6</span>
              </div>
            </div>
          </div>
          <div class="free-popular-books">
            <div class="rank-wrap">
              <span class="rank">6</span>
            </div>
            <div class="img-wrap">
              <img th:src="@{/img/book_img_3.jpg}" alt="">
            </div>
            <div class="detail-wrap">
              <div class="title">제목6</div>
              <div class="intro">설명설명설명이길면 어떻게 될까요 그러게요 한번 알아볼까요</div>
              <div class="star-wrap">
                <svg width="1.2em" height="1.2em" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg" aria-label="구매자 평균 별점" class="star-symbol">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M5.5 0l1.812 3.303L11 4.025 8.446 6.759l.459 3.741L5.5 8.903 2.095 10.5l.459-3.74L0 4.002l3.688-.7L5.5 0z" fill="currentColor"></path>
                </svg>
                <span class="star">9.4</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="new-author-container">
    <div class="new-author-title-container">
      <div class="new-author-title-wrap">
        <div class="new-author-title-text">
          <span class="new-author-title">신인 작가</span>
        </div>
      </div>
    </div>
    <div class="new-author-list-container">
      <div class="new-author-list-wrap">
        <div class="new-author-list-div">
          <ul class="new-author-list-ul">
            <li class="new-author-li">
              <div class="new-author">
                <div class="img-wrap">
                  <img th:src="@{/img/book_img_1.jpeg}" class="img" alt="">
                </div>
                <div class="detail-wrap">
                  <span class="author">톰보이1</span>
                </div>
              </div>
            </li>
            <li class="new-author-li">
              <div class="new-author">
                <div class="img-wrap">
                  <img th:src="@{/img/book_img_2.jpeg}" class="img" alt="">
                </div>
                <div class="detail-wrap">
                  <span class="author">톰보이2</span>
                </div>
              </div>
            </li>
            <li class="new-author-li">
              <div class="new-author">
                <div class="img-wrap">
                  <img th:src="@{/img/book_img_3.jpg}" class="img" alt="">
                </div>
                <div class="detail-wrap">
                  <span class="author">톰보이3</span>
                </div>
              </div>
            </li>
            <li class="new-author-li">
              <div class="new-author">
                <div class="img-wrap">
                  <img th:src="@{/img/book_img_1.jpeg}" class="img" alt="">
                </div>
                <div class="detail-wrap">
                  <span class="author">톰보이4</span>
                </div>
              </div>
            </li>
            <li class="new-author-li">
              <div class="new-author">
                <div class="img-wrap">
                  <img th:src="@{/img/book_img_2.jpeg}" class="img" alt="">
                </div>
                <div class="detail-wrap">
                  <span class="author">톰보이5</span>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="new-author-list-container">
      <div class="new-author-list-wrap">
        <div class="new-author-list-div">
          <ul class="new-author-list-ul">
            <li class="new-author-li">
              <div class="new-author">
                <div class="img-wrap">
                  <img th:src="@{/img/book_img_2.jpeg}" class="img" alt="">
                </div>
                <div class="detail-wrap">
                  <span class="author">톰보이6</span>
                </div>
              </div>
            </li>
            <li class="new-author-li">
              <div class="new-author">
                <div class="img-wrap">
                  <img th:src="@{/img/book_img_3.jpg}" class="img" alt="">
                </div>
                <div class="detail-wrap">
                  <span class="author">톰보이7</span>
                </div>
              </div>
            </li>
            <li class="new-author-li">
              <div class="new-author">
                <div class="img-wrap">
                  <img th:src="@{/img/book_img_1.jpeg}" class="img" alt="">
                </div>
                <div class="detail-wrap">
                  <span class="author">톰보이8</span>
                </div>
              </div>
            </li>
            <li class="new-author-li">
              <div class="new-author">
                <div class="img-wrap">
                  <img th:src="@{/img/book_img_2.jpeg}" class="img" alt="">
                </div>
                <div class="detail-wrap">
                  <span class="author">톰보이9</span>
                </div>
              </div>
            </li>
            <li class="new-author-li">
              <div class="new-author">
                <div class="img-wrap">
                  <img th:src="@{/img/book_img_3.jpg}" class="img" alt="">
                </div>
                <div class="detail-wrap">
                  <span class="author">톰보이10</span>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</main>

<th:block th:replace="layout/footer :: footer"></th:block>
</body>
<script th:inline="javascript">
  window.onload = function () {
    const slideClick =  () => {
      document.getElementById('move-slider').click();
    }
    setTimeout(slideClick, 5000);
  }
</script>
</html>