<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>신비한 서재입니다.</title>

  <link rel="stylesheet" th:href="@{/css/index.css}">
</head>
<body>
<th:block th:replace="layout/header :: header"></th:block>

<div class="category-div">
  <div class="category-container">
    <ul class="category-ul dropdown">
      <li class="category-wrap">
        <a href="/" class="category category-focus">홈</a>
      </li>
      <li class="category-wrap">
        <a href="javascript:;" class="category dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">웹소설</a>
        <ul class="dropdown-menu">
          <li><a th:href="@{/book/category?categoryId=1}" class="dropdown-item">웹소설 메인</a></li>
          <li><a th:href="@{|/book/genre?genreId=1&alignmentId=0|}" class="dropdown-item">판타지</a></li>
          <li><a th:href="@{|/book/genre?genreId=2&alignmentId=0|}" class="dropdown-item">현대판타지</a></li>
          <li><a th:href="@{|/book/genre?genreId=3&alignmentId=0|}" class="dropdown-item">로맨스</a></li>
          <li><a th:href="@{|/book/genre?genreId=4&alignmentId=0|}" class="dropdown-item">로맨스판타지</a></li>
          <li><a th:href="@{|/book/genre?genreId=5&alignmentId=0|}" class="dropdown-item">무협</a></li>
        </ul>
      </li>
      <li class="category-wrap">
        <a th:href="@{|/book/genre?genreId=6&alignmentId=0|}" class="category">시</a>
      </li>
      <li class="category-wrap">
        <a th:href="@{|/book/genre?genreId=7&alignmentId=0|}" class="category">에세이</a>
      </li>
      <li class="category-wrap">
        <a href="javascript:;" class="category dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">데뷔글</a>
        <ul class="dropdown-menu">
          <li><a th:href="@{/debut/main/0}" class="dropdown-item">데뷔글 메인</a></li>
          <li><a th:href="@{/debut/web/3/0}" class="dropdown-item">웹소설</a></li>
          <li><a th:href="@{/debut/poem/1/0}" class="dropdown-item">시</a></li>
          <li><a th:href="@{/debut/essay/2/0}" class="dropdown-item">에세이</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>

<main class="main-container">
  <div class="slider-div">
    <div class="slider-container">
      <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img th:src="@{/img/slider_img_1.jpg}" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img th:src="@{/img/slider_img_2.jpg}" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img th:src="@{/img/slider_img_3.jpg}" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img th:src="@{/img/slider_img_4.jpg}" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img th:src="@{/img/slider_img_5.jpg}" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden"></span>
        </button>
        <button id="move-slider" class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden"></span>
        </button>
      </div>
    </div>
  </div>

  <div class="popular-books-container">
    <div class="popular-books-title-container">
      <div class="popular-books-title-wrap">
        <div class="popular-books-title-text">
          <span class="popular-books-title">인기 작품</span>
        </div>
      </div>
    </div>
    <div class="popular-books-list-container">
      <div class="popular-books-list-wrap">
        <div class="popular-books-list-div">
          <div class="popular-books" th:each="popular1:${bookList}">
            <div class="img-wrap">
              <a th:if="${authentication != null}" th:href="@{|/book/book?id=${popular1.id}&alignmentId=0|}">
                <img th:src="@{|/upload/${popular1.bookImgName}|}" alt="">
              </a>
              <a th:unless="${authentication != null}" th:href="@{|/book/no?id=${popular1.id}&alignmentId=0|}">
                <img th:src="@{|/upload/${popular1.bookImgName}|}" alt="">
              </a>
            </div>
            <div class="detail-wrap">
              <div class="title" th:text="${popular1.bookTitle}"></div>
              <div class="star-wrap">
                <a th:href="@{|/member/myPage/${popular1.memberId}|}">
                  <span class="author" th:text="${popular1.memberName}"></span>
                </a>
                <svg xmlns="http://www.w3.org/2000/svg" width="1.2rem" height="1.2rem" fill="currentColor" class="bi bi-eye eye-icon" viewBox="0 0 16 16">
                  <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
                  <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
                </svg>
                <span class="hits" th:text="${popular1.hits}"></span>
                <svg width="1.2em" height="1.2em" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg" class="star-symbol">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M5.5 0l1.812 3.303L11 4.025 8.446 6.759l.459 3.741L5.5 8.903 2.095 10.5l.459-3.74L0 4.002l3.688-.7L5.5 0z" fill="currentColor"></path>
                </svg>
                <span class="star" th:text="${popular1.star}"></span>
                <svg xmlns="http://www.w3.org/2000/svg" width="1rem" height="1rem" fill="currentColor" class="bi bi-heart-fill full-heart debut-heart" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                </svg>
                <span class="heart" th:text="${popular1.love}"></span>
              </div>
              <div class="intro" th:text="${popular1.introduce}"></div>
              <div class="tag-wrap">
                <span class="tag novel" th:if="${popular1.categoryId eq 1}">웹소설</span>
                <span class="tag poem" th:if="${popular1.categoryId eq 2}">시</span>
                <span class="tag essay" th:if="${popular1.categoryId eq 3}">에세이</span>
              </div>
            </div>
          </div>
        </div>
        <div class="popular-books-list-div">
          <div class="popular-books" th:each="popular2:${bookList1}">
            <div class="img-wrap">
              <a th:if="${authentication != null}" th:href="@{|/book/book?id=${popular2.id}&alignmentId=0|}">
                <img th:src="@{|/upload/${popular2.bookImgName}|}" alt="">
              </a>
              <a th:unless="${authentication != null}" th:href="@{|/book/no?id=${popular2.id}&alignmentId=0|}">
                <img th:src="@{|/upload/${popular2.bookImgName}|}" alt="">
              </a>
            </div>
            <div class="detail-wrap">
              <div class="title" th:text="${popular2.bookTitle}"></div>
              <div class="star-wrap">
                <a th:href="@{|/member/myPage/${popular2.memberId}|}">
                  <span class="author" th:text="${popular2.memberName}"></span>
                </a>
                <svg xmlns="http://www.w3.org/2000/svg" width="1.2rem" height="1.2rem" fill="currentColor" class="bi bi-eye eye-icon" viewBox="0 0 16 16">
                  <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
                  <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
                </svg>
                <span class="hits" th:text="${popular2.hits}"></span>
                <svg width="1.2em" height="1.2em" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg" class="star-symbol">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M5.5 0l1.812 3.303L11 4.025 8.446 6.759l.459 3.741L5.5 8.903 2.095 10.5l.459-3.74L0 4.002l3.688-.7L5.5 0z" fill="currentColor"></path>
                </svg>
                <span class="star" th:text="${popular2.star}"></span>
                <svg xmlns="http://www.w3.org/2000/svg" width="1rem" height="1rem" fill="currentColor" class="bi bi-heart-fill full-heart debut-heart" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                </svg>
                <span class="heart" th:text="${popular2.love}"></span>
              </div>
              <div class="intro" th:text="${popular2.introduce}"></div>
              <div class="tag-wrap">
                <span class="tag novel" th:if="${popular2.categoryId eq 1}">웹소설</span>
                <span class="tag poem" th:if="${popular2.categoryId eq 2}">시</span>
                <span class="tag essay" th:if="${popular2.categoryId eq 3}">에세이</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="recent-debut-post-container">
    <div class="recent-debut-post-title-container">
      <div class="recent-debut-post-title-wrap">
        <div class="recent-debut-post-title-text">
          <span class="recent-debut-post-title">최신 완결 작품</span>
        </div>
      </div>
    </div>
    <div class="recent-debut-post-list-container">
      <div class="recent-debut-post-list-wrap">
        <div class="recent-debut-post-div">
          <ul class="recent-debut-post-ul">
            <li th:each="finsh:${newList}"  class="recent-debut-post-li" >
              <div class="recent-debut-post">
                <div class="img-wrap">
                  <a th:if="${authentication != null}" th:href="@{|/book/book?id=${finsh.id}&alignmentId=0|}">
                    <img th:src="@{|/upload/${finsh.bookImgName}|}" class="img" alt="">
                  </a>
                  <a th:unless="${authentication != null}" th:href="@{|/book/no?id=${finsh.id}&alignmentId=0|}">
                    <img th:src="@{|/upload/${finsh.bookImgName}|}" class="img" alt="">
                  </a>
                </div>
                <div class="detail-wrap">
                  <span class="title" th:text="${finsh.bookTitle}"></span>
                  <a th:href="@{|/member/myPage/${finsh.memberId}|}">
                    <span class="author" th:text="${finsh.memberName}"></span>
                  </a>
                  <div class="star-wrap">
                    <svg xmlns="http://www.w3.org/2000/svg" width="1.2rem" height="1.2rem" fill="currentColor" class="bi bi-eye eye-icon" viewBox="0 0 16 16">
                      <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
                      <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
                    </svg>
                    <span class="hits" th:text="${finsh.hits}"></span>
                    <svg width="1.2em" height="1.2em" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg" class="star-symbol">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M5.5 0l1.812 3.303L11 4.025 8.446 6.759l.459 3.741L5.5 8.903 2.095 10.5l.459-3.74L0 4.002l3.688-.7L5.5 0z" fill="currentColor"></path>
                    </svg>
                    <span class="star" th:text="${finsh.star}"></span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="1rem" height="1rem" fill="currentColor" class="bi bi-heart-fill full-heart debut-heart" viewBox="0 0 16 16">
                      <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                    </svg>
                    <span class="heart" th:text="${finsh.love}"></span>
                    <div class="tag-wrap">
                      <span class="tag novel" th:if="${finsh.categoryId eq 1}">웹소설</span>
                      <span class="tag poem" th:if="${finsh.categoryId eq 2}">시</span>
                      <span class="tag essay" th:if="${finsh.categoryId eq 3}">에세이</span>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="recent-completion-container">
    <div class="recent-completion-title-container">
      <div class="recent-completion-title-wrap">
        <div class="recent-completion-title-text">
          <span class="recent-completion-title">최신 데뷔글</span>
        </div>
      </div>
    </div>
    <div class="recent-completion-list-container">
      <div class="recent-completion-list-wrap">
        <div class="recent-completion-div">
          <ul class="recent-completion-ul">
            <li th:each="newDebut:${newDebutList}" class="recent-completion-li">
              <div class="recent-completion">
                <div class="img-wrap">
                  <a th:href="@{|/debut/detail/${newDebut.id}|}">
                    <img th:src="@{|/upload/${newDebut.debutImgName}|}" class="img" alt="">
                  </a>
                </div>
                <div class="detail-wrap">
                  <span th:text="${newDebut.debutTitle}" class="title"></span>
                  <a th:href="@{|/member/myPage/${newDebut.memberId}|}">
                    <span th:text="${newDebut.memberName}" class="author"></span>
                  </a>
                  <div class="star-wrap debut-star-wrap">
                    <div class="star-wrap">
                      <svg xmlns="http://www.w3.org/2000/svg" width="1.2rem" height="1.2rem" fill="currentColor" class="bi bi-eye eye-icon" viewBox="0 0 16 16">
                        <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
                        <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
                      </svg>
                      <span class="hits" th:text="${newDebut.debutHits}"></span>
                      <svg xmlns="http://www.w3.org/2000/svg" width="1rem" height="1rem" fill="currentColor" class="bi bi-heart-fill full-heart debut-heart" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                      </svg>
                      <span class="heart" th:text="${newDebut.love}"></span>
                      <div class="tag-wrap">
                        <span class="tag novel" th:if="${newDebut.categoryId eq 1}">웹소설</span>
                        <span class="tag poem" th:if="${newDebut.categoryId eq 2}">시</span>
                        <span class="tag essay" th:if="${newDebut.categoryId eq 3}">에세이</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="free-popular-books-container">
    <div class="free-popular-books-title-container">
      <div class="free-popular-books-title-wrap">
        <div class="free-popular-books-title-text">
          <span class="free-popular-books-title">무료 인기 데뷔글</span>
        </div>
      </div>
    </div>
    <div class="free-popular-books-list-container">
      <div class="free-popular-books-list-wrap">
        <div class="free-popular-books-list-div">
          <div th:each="top3:${top123}" class="free-popular-books">
            <div class="img-wrap">
              <a th:href="@{|/debut/detail/${top3.id}|}">
                <img th:src="@{|/upload/${top3.debutImgName}|}" class="img" alt="">
              </a>
            </div>
            <div class="detail-wrap">
              <div class="title" th:text="${top3.debutTitle}"></div>
              <div class="star-wrap">
                <a th:href="@{|/member/myPage/${top3.memberId}|}">
                  <span class="author" th:text="${top3.memberName}"></span>
                </a>
                <svg xmlns="http://www.w3.org/2000/svg" width="1.2rem" height="1.2rem" fill="currentColor" class="bi bi-eye eye-icon" viewBox="0 0 16 16">
                  <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
                  <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
                </svg>
                <span class="hits" th:text="${top3.debutHits}"></span>
                <svg xmlns="http://www.w3.org/2000/svg" width="1rem" height="1rem" fill="currentColor" class="bi bi-heart-fill full-heart debut-heart" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                </svg>
                <span class="heart" th:text="${top3.love}"></span>
              </div>
              <div class="intro" th:text="${top3.introduce}"></div>
              <div class="tag-wrap">
                <span class="tag novel" th:if="${top3.categoryId eq 1}">웹소설</span>
                <span class="tag poem" th:if="${top3.categoryId eq 2}">시</span>
                <span class="tag essay" th:if="${top3.categoryId eq 3}">에세이</span>
              </div>
            </div>
          </div>
        </div>
        <div class="free-popular-books-list-div">
          <div th:each="top6:${top456}" class="free-popular-books">
            <div class="img-wrap">
              <a th:href="@{|/debut/detail/${top6.id}|}">
                <img th:src="@{|/upload/${top6.debutImgName}|}" class="img" alt="">
              </a>
            </div>
            <div class="detail-wrap">
              <div class="title" th:text="${top6.debutTitle}"></div>
              <div class="star-wrap">
                <a th:href="@{|/member/myPage/${top6.memberId}|}">
                  <span class="author" th:text="${top6.memberName}"></span>
                </a>
                <svg xmlns="http://www.w3.org/2000/svg" width="1.2rem" height="1.2rem" fill="currentColor" class="bi bi-eye eye-icon" viewBox="0 0 16 16">
                  <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
                  <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
                </svg>
                <span class="hits" th:text="${top6.debutHits}"></span>
                <svg xmlns="http://www.w3.org/2000/svg" width="1rem" height="1rem" fill="currentColor" class="bi bi-heart-fill full-heart debut-heart" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                </svg>
                <span class="heart" th:text="${top6.love}"></span>
              </div>
              <div class="intro" th:text="${top6.introduce}"></div>
              <div class="tag-wrap">
                <span class="tag novel" th:if="${top6.categoryId eq 1}">웹소설</span>
                <span class="tag poem" th:if="${top6.categoryId eq 2}">시</span>
                <span class="tag essay" th:if="${top6.categoryId eq 3}">에세이</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="new-author-container">
    <div class="new-author-title-container">
      <div class="new-author-title-wrap">
        <div class="new-author-title-text">
          <span class="new-author-title">신인 작가</span>
        </div>
      </div>
    </div>
    <div class="new-author-list-container">
      <div class="new-author-list-wrap">
        <div class="new-author-list-div">
          <ul class="new-author-list-ul">
            <li class="new-author-li" th:each="writer: ${writerList1}">
              <div class="new-author">
                <div class="img-wrap">
                  <a th:href="@{|/member/myPage/${writer.id}|}">
                    <img th:src="@{|/upload/${writer.memberImgName}|}" class="img" alt="">
                  </a>
                </div>
                <div class="detail-wrap">
                  <span class="author" th:text="${writer.memberName}"></span>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="new-author-list-container">
      <div class="new-author-list-wrap">
        <div class="new-author-list-div">
          <ul class="new-author-list-ul">
            <li class="new-author-li" th:each="writer: ${writerList2}">
              <div class="new-author">
                <div class="img-wrap">
                  <a th:href="@{|/member/myPage/${writer.id}|}">
                    <img th:src="@{|/upload/${writer.memberImgName}|}" class="img" alt="">
                  </a>
                </div>
                <div class="detail-wrap">
                  <a th:href="@{|/member/myPage/${writer.id}|}">
                    <span class="author" th:text="${writer.memberName}"></span>
                  </a>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</main>

<th:block th:replace="layout/footer :: footer"></th:block>
</body>
<script th:inline="javascript">
  window.onload = function () {
    const slideClick =  () => {
      document.getElementById('move-slider').click();
    }
    setTimeout(slideClick, 5000);
    setInterval(countNotice, 30000);
  }
</script>
</html>